<div class="map-page-wrapper">


        <!--<h3 class="col-md-12"ng-if="createSiteModeActive"><span class="label label-warning">CREATE SITE MODE ACTIVE</span></h3>-->
        <div class="map-leftside">
            <!--<div ui-view="mapFilters"></div>-->

            <button class="btn-wim btn-purple btn-longtext" ng-show="!createSiteModeActive" ng-click="createSiteModeActive = !createSiteModeActive">{{createSiteButtonText}}</button>
            <button ng-class="'btn-wim btn-green btn-longtext'" ng-if="createSiteModeActive" ng-click="createSiteFromMap()">Create new site at dot location</button>
            <!-- <small class="cancel-create" ng-show="createSiteModeActive" ng-click="createSiteModeActive = !createSiteModeActive"><b>Cancel</b></small> -->
            <!-- <small class="cancel-create nohover" ng-show="!createSiteModeActive">&nbsp;</small> -->

            <div ui-view="mapSiteInfo"></div>
            <div ui-view="mapPeaksView"></div>
            <div ui-view="mapSensorPropose"></div>

        </div><!--

        --><div class="map-rightside">

            <!--<h3>Map currently displaying sites for <b>{{sessionEvent}}</b></h3>-->

                <div class="createSiteModeActive createSiteModeActiveTop" ng-show="createSiteModeActive">CREATE SITE MODE <b ng-click="createSiteModeActive = !createSiteModeActive">Exit</b></div>

                <div cg-busy="{promise:sitesPromise,message:'Loading Sites...'}">
                    <leaflet ng-style="mapStyle" markers-watch-options="markersWatchOptions" controls="controls" bounds="bounds" paths="paths"  lf-center="mapCenter" markers="markers" layers="layers" event-broadcast="events" width="100%" height="700px">
                        <wim-legend stop-event="click"></wim-legend>
                    </leaflet>
                </div>

                <!-- <div class="createSiteModeActive createSiteModeActiveBottom" ng-if="createSiteModeActive">CREATE SITE MODE</div> -->

                <!--<div class="mapCreateSiteButtonsDiv">-->
                    <!--<button ng-class="createSiteModeActive ? 'btn btn-danger' : 'btn btn-primary'" ng-click="createSiteModeActive = !createSiteModeActive">{{createSiteButtonText}}</button>-->
                    <!--<button ng-class="'btn btn-warning'" ng-if="createSiteModeActive" ng-click="createSiteFromMap()">Create new site at clicked location</button>-->
                <!--</div><br>-->

               <div ui-view="mapFilters"></div>


                <!--<br>Sites JSON: {{sites}}-->
        </div>


</div>

<!-- notice text below map -->
<div style="border:red 1px solid;padding:5px;margin-bottom:10px">
    <span style="font-family:'BryantBold';font-size:large;">Important usage notes and instructions</span>
    <div style="margin:5px">
        <p>
            {{message}}

        </p>
    </div>
</div>

<div ui-view="test"></div>
