<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.siteOpen">
        <uib-accordion-heading>
            <span>Map Filters</span>
            <i class="acc-heading-icon" ng-class="{'ion-arrow-down-b': status.siteOpen, 'ion-arrow-right-b': !status.siteOpen}"></i>
        </uib-accordion-heading>


        <form name="siteSearchForm" class="map-filters-form">
            <!--<div class="form-group col-md-6">-->
                <!--<label>Events:</label>-->
                <!--<span class="filters-site-title">-->
                    <!--{{sessionEvent}}-->
                <!--</span>-->
            <!--</div>-->

            <div class="form-group col-md-6">
                <div class="chx">
                    <input type="checkbox" ng-model="checkboxModel.eventSitesOnly" ng-true-value="'1'" ng-false-value="'0'" />
                </div>
                <label class="checkbox-label">{{sessionEvent}} Sites Only</label>
            </div>

            <div class="form-group col-md-6">
                <label>States:</label>
                <div isteven-multi-select
                     input-model="states"
                     output-model="Chosen.state"
                     button-label="state_name"
                     item-label="state_name"
                     max-height="300px"
                     on-item-click="stateClick(data)"
                     tick-property="selected"
                     helper-elements="filter">

                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Sensor Types:</label>
                <select class="form-control" id="sensor_type_id" name="sensor_type_id" ng-model="Chosen.sensor"
                        ng-options="s.sensor_type_id as s.sensor for s in senTypes | orderBy: 'sensor'">
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label>Network Names:</label>
                <select class="form-control" id="network_name_id" name="network_name_id" ng-model="Chosen.network"
                        ng-options="n.network_name_id as n.name for n in netNames | orderBy: 'name'">
                    <option value=""></option>
                </select>
            </div>

            <div>
                <div class="form-group col-md-3">
                    <div class="chx">
                        <input type="checkbox" ng-model="checkboxModel.hwmOnly" ng-true-value="'1'" ng-false-value="'0'" />
                    </div>
                    <label class="checkbox-label">HWM Only Sites</label>
                </div>

                <div class="form-group col-md-3">
                    <div class="chx">
                        <input type="checkbox" ng-model="checkboxModel.senOnly" ng-true-value="'1'" ng-false-value="'0'" />
                    </div>
                    <label class="checkbox-label">Sensor Only Sites</label>
                </div>

                <div class="form-group col-md-3">
                    <div class="chx">
                        <input type="checkbox" ng-model="checkboxModel.rdgOnly" ng-true-value="'1'" ng-false-value="'0'" />
                    </div>
                    <label class="checkbox-label">RDG Only Sites</label>
                </div>

                <div class="form-group col-md-3">
                    <div class="chx">
                        <input type="checkbox" ng-model="checkboxModel.opDefined" ng-true-value="'1'" ng-false-value="'0'" />
                    </div>
                    <label class="checkbox-label">Has OP Defined</label>
                </div>
            </div>

            <br clear="all" />
            <!--Search buttons-->
            <div class="form-group center-all">
                <button class="btn-wim btn-inline btn-blue" ng-click="searchSites()">Filter Sites</button>
                <button class="btn-wim btn-inline btn-orange" ng-click="clearFilters()">Clear Filters</button>
            </div>
        </form>


    </uib-accordion-group>
</uib-accordion>
