<div class="page-padding">


        <a class="settings-thumb" ng-click="changeView('members.MembersList')">
            <i class="ion-ios-people"></i>
            <h1>Members</h1>
        </a><!--
        --><a class="settings-thumb" ng-click="changeView('events.EventsList')">
            <i class="ion-ios-calendar-outline"></i>
            <h1>Events</h1>
        </a><!--
        --><a class="settings-thumb" ng-click="changeView('resources.ResourcesList')">
            <i class="ion-ios-paper-outline"></i>
            <h1>Resources</h1>
        </a>


</div>
