<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.peakOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.peakOpen, 'glyphicon-chevron-right': !status.peakOpen}"></i>
            <span>Peaks</span>
            <span class="badge pull-right">{{peakCount.total}}</span>
        </uib-accordion-heading>
        <div class="btn-group pull-right">
            <div class="btn-group">
                <button style="background:none" ng-click="showOPModal(0)" class="btn"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <ul>
            <li>test1</li>
            <li>test2</li>
            <li>test2</li>
            <!--<li ng-repeat="op in SiteObjectivePoints"><a class="btn" ng-click="showOPModal(op)">{{op.NAME}}</a></li>-->
        </ul>
    </uib-accordion-group>
</uib-accordion>
