<uib-accordion close-others="false">
    <!--Section 1: Start Report-->

    <uib-accordion-group heading="Section 1: Report Parameters" is-open="true">
        <div class="pull-left col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <label class="col-md-12">Date being reported:</label>
                    <div class="col-md-6" style="padding-left:15px;padding-right:15px;">{{report_date}}</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-12">Event:</label>
                    <div class="col-md-6">{{event_name}}</div>
                </div>
                <div class="col-md-12">
                    <label class="col-md-12">State:</label>
                    <div class="col-md-6">{{state}}</div>
                </div>
            </div>
            <br />
        </div>
    </uib-accordion-group>

    <!-- Section 2: Personnel and vehcle counts -->
    <uib-accordion-group heading="Section 2: Personnel and Vehicle Counts">
        <table class="table">
            <tr>
                <td></td>
                <td></td>
                <td style="font-family: 'BryantBold';">Surfacewater</td>
                <td style="font-family: 'BryantBold';">Water Quality and Other</td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Employees not accounted for</span>
                </td>
                <td>{{sw_fieldpers_notacct}}</td>
                <td>{{wq_fieldpers_notacct}}</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <span>Personnel in <br />the field</span>
                </td>
                <td>
                    <span class="required">Yesterday</span>
                </td>
                <td>{{sw_yest_fieldpers}}</td>
                <td>{{wq_yest_fieldpers}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Today</span>
                </td>
                <td>{{sw_tod_fieldpers}}</td>
                <td>{{wq_tod_fieldpers}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Tomorrow</span>
                </td>
                <td>{{sw_tmw_fieldpers}}</td>
                <td>{{wq_tmw_fieldpers}}</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <span>Personnel in <br />the office</span>
                </td>
                <td>
                    <span class="required">Yesterday</span>
                </td>
                <td>{{sw_yest_officepers}}</td>
                <td>{{wq_yest_officepers}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Today</span>
                </td>
                <td>{{sw_tod_officepers}}</td>
                <td>{{wq_tod_officepers}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Tomorrow</span>
                </td>
                <td>{{sw_tmw_officepers}}</td>
                <td>{{wq_tmw_officepers}}</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <span>Vehicles <br /> deployed</span>
                </td>
                <td>
                    <span class="required">Trucks & Cars</span>
                </td>
                <td>{{sw_autos_depl}}</td>
                <td>{{wq_autos_depl}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Boats</span>
                </td>
                <td>{{sw_boats_depl}}</td>
                <td>{{wq_boats_depl}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Other</span>
                </td>
                <td>{{sw_other_depl}}</td>
                <td>{{wq_other_depl}}</td>
            </tr>
        </table>
    </uib-accordion-group>
    <!-- Section 3: Instrumentation & Sampling Counts-->
    <uib-accordion-group heading="Section 3: Instrumentation & Sampling Counts">
        <table class="table">
            <tr>
                <td colspan="2" class="col-md-5">
                    <span class="required">Gage visits (cumulative)</span>
                </td>
                <td colspan="2" class="col-md-3">{{gage_visit}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Gages down at present</span>
                </td>
                <td colspan="2">{{gage_down}}</td>
            </tr>
            <tr>
                <td rowspan="2">Discharge measurements</td>
                <td>
                    <span class="required">To date</span>
                </td>
                <td colspan="2">{{tot_discharge_meas}}</td>
            </tr>
            <tr>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">{{plan_discharge_meas}}</td>
            </tr>
            <tr>
                <td rowspan="2">Check measurements</td>
                <td>
                    <span class="required">To Date</span>
                </td>
                <td colspan="2">
                    {{tot_check_meas}}
                    <input class="form-control" id="chkMeasToDate" name="newReport.tot_check_meas"
                           ng-model="newReport.tot_check_meas" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    {{plan_check_meas}}
                    <input class="form-control" id="chkMeasPlanned" name="newReport.plan_check_meas"
                           ng-model="newReport.plan_check_meas" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Indirect measurements planned</span>
                </td>
                <td colspan="2">
                    {{plan_indirect_meas}}
                    <input class="form-control" id="indMeasPlan" name="newReport.plan_indirect_meas"
                           ng-model="newReport.plan_indirect_meas" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Rating extensions</span>
                </td>
                <td colspan="2">
                    {{rating_extens}}
                    <input class="form-control" id="rateExt" name="newReport.rating_extens"
                           ng-model="newReport.rating_extens" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Peaks of record on gages to date<br /> ( &#62; 20 years of record)</span>
                </td>
                <td colspan="2">
                    {{gage_peak_record}}
                    <input class="form-control" id="peaks" name="newReport.gage_peak_record"
                           ng-model="newReport.gage_peak_record" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="4">Rapid Deployment gages to date</td>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="rdgPlanned" name="newReport.plan_rapdepl_gage"
                           ng-model="newReport.plan_rapdepl_gage" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Deployed</td>
                <td colspan="2">
                    <input class="form-control" id="rdgDeployed" name="newReport.dep_rapdepl_gage" readonly="readonly"
                           ng-model="newReport.dep_rapdepl_gage" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Recovered</td>
                <td colspan="2">
                    <input class="form-control" id="rdgRecovered" name="newReport.rec_rapdepl_gage" readonly="readonly"
                           ng-model="newReport.rec_rapdepl_gage" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Lost</td>
                <td colspan="2">
                    <input class="form-control" id="rdgLost" name="newReport.lost_rapdepl_gage" readonly="readonly"
                           ng-model="newReport.lost_rapdepl_gage" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="4">Water Level Sensors to date</td>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="wlsPlanned" name="newReport.plan_wtrlev_sensor"
                           ng-model="newReport.plan_wtrlev_sensor" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Deployed</td>
                <td colspan="2">
                    <input class="form-control" id="wlsDeployed" name="newReport.dep_wtrlev_sensor" readonly="readonly"
                           ng-model="newReport.dep_wtrlev_sensor" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Recovered</td>
                <td colspan="2">
                    <input class="form-control" id="wlsRecovered" name="newReport.rec_wtrlev_sensor" readonly="readonly"
                           ng-model="newReport.rec_wtrlev_sensor" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Lost</td>
                <td colspan="2">
                    <input class="form-control" id="wlsLost" name="newReport.lost_wtrlev_sensor" readonly="readonly"
                           ng-model="newReport.lost_wtrlev_sensor" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="4">Wave Sensors to date</td>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="wsPlanned" name="newReport.plan_wv_sens"
                           ng-model="newReport.plan_wv_sens" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Deployed</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="wsDeployed" name="newReport.dep_wv_sens" readonly="readonly"
                           ng-model="newReport.dep_wv_sens" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Recovered</td>
                <td colspan="2">
                    <input class="form-control" id="wsRecovered" name="newReport.rec_wv_sens" readonly="readonly"
                           ng-model="newReport.rec_wv_sens" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Lost</td>
                <td colspan="2">
                    <input class="form-control" id="wsLost" name="newReport.lost_wv_sens" readonly="readonly"
                           ng-model="newReport.lost_wv_sens" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="4">Barometers to date</td>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="barPlanned" name="newReport.plan_barometric"
                           ng-model="newReport.plan_barometric" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Deployed</td>
                <td colspan="2">
                    <input class="form-control" id="barDeployed" name="newReport.dep_barometric" readonly="readonly"
                           ng-model="newReport.dep_barometric" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Recovered</td>
                <td colspan="2">
                    <input class="form-control" id="barRecovered" name="newReport.rec_barometric" readonly="readonly"
                           ng-model="newReport.rec_barometric" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Lost</td>
                <td colspan="2">
                    <input class="form-control" id="barLost" name="newReport.lost_barometric" readonly="readonly"
                           ng-model="newReport.lost_barometric" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="4">Meteorological Sensors to date</td>
                <td>
                    <span class="required">Planned</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="msPlanned" name="newReport.plan_meteorological"
                           ng-model="newReport.plan_meteorological" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Deployed</td>
                <td colspan="2">
                    <input class="form-control" id="msDeployed" name="newReport.dep_meteorological" readonly="readonly"
                           ng-model="newReport.dep_meteorological" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Recovered</td>
                <td colspan="2">
                    <input class="form-control" id="msRecovered" name="newReport.rec_meteorological" readonly="readonly"
                           ng-model="newReport.rec_meteorological" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Lost</td>
                <td colspan="2">
                    <input class="form-control" id="msLost" name="newReport.lost_meteorological" readonly="readonly"
                           ng-model="newReport.lost_meteorological" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td rowspan="2">Highwater Mark to date</td>
                <td>Flagged</td>
                <td colspan="2">
                    <input class="form-control" id="hwmFlagged" name="newReport.hwm_flagged" readonly="readonly"
                           ng-model="newReport.hwm_flagged" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td>Collected</td>
                <td colspan="2">
                    <input class="form-control" id="hwmCollected" name="newReport.hwm_collected" readonly="readonly"
                           ng-model="newReport.hwm_collected" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">QW Gage visits (cumulative)</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="qwGageVisit" name="newReport.qw_gage_visit"
                           ng-model="newReport.qw_gage_visit" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Continuous QW Gages visited</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="contQwGageVisit" name="newReport.qw_cont_gagevisit"
                           ng-model="newReport.qw_cont_gagevisit" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Continuous QW Gages down</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="qwGagesDown" name="newReport.qw_gage_down"
                           ng-model="newReport.qw_gage_down" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Discrete QW samples collected</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="qwSamplesCol" name="newReport.qw_discr_samples"
                           ng-model="newReport.qw_discr_samples" type="text" numeric-only required />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="required">Sediment samples collected</span>
                </td>
                <td colspan="2">
                    <input class="form-control" id="sedSamplesCol" name="newReport.coll_sedsamples"
                           ng-model="newReport.coll_sedsamples" type="text" numeric-only required />
                </td>
            </tr>
        </table>
    </uib-accordion-group>
    <!--Section 4: Notes-->
    <uib-accordion-group heading="Section 4: Notes">
        <div>Notes detailing the day's field activities (optional)</div>
        <textarea class="form-control" id="notes" type="text" rows="5" cols="90" ng-model="newReport.notes" />
        <div>*Limit 2000 characters</div>
    </uib-accordion-group>
    <!-- Section 5: Contacts -->
    <uib-accordion-group heading="Section 5: Contact Information">
        <div><b>Submitter</b></div>
        <div><span class="col-md-3">Name:</span><span>{{MemberLoggedIn.fname}} {{MemberLoggedIn.lname}}</span></div>
        <div><span class="col-md-3">Phone</span>{{MemberLoggedIn.phone}}</div>
        <div><span class="col-md-3">Email</span>{{MemberLoggedIn.email}}</div>
        <div><span class="col-md-3">Office Name</span>{{MemberLoggedIn.agency_name}}</div>
        <div><span class="col-md-3">Office Address</span>{{MemberLoggedIn.agency_address}}</div>

        <h3>Event Contacts</h3>

        <!-- ------------------------- Deployed--------------------------------- -->
        <div><b>Deployed Staff (required)</b></div>
        <div class="col-sm-12" style="margin-bottom:15px;">
            <div class="col-md-3 form-group required">
                <span class="col-md-12 control-label req" for="fname">First Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="D_fname" name="fname" type="text" ng-model="DeployStaff.fname" required />
                </div>
            </div>

            <div class="col-md-3 form-group required">
                <span class="col-md-12 control-label req" for="lname">Last Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="D_lname" name="lname" type="text" ng-model="DeployStaff.lname" required />
                </div>
            </div>

            <div class="col-md-4 form-group required">
                <span class="col-md-12 control-label req" for="email">Email:</span>
                <div class="col-md-12">
                    <input class="form-control" id="D_email" name="email" type="email" ng-model="DeployStaff.email" required />
                </div>
            </div>

            <div class="col-md-3 form-group required">
                <span class="col-md-12 control-label req" for="phone">Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="D_phone" name="phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="DeployStaff.phone" required />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="alternate_phone">Alternate Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="D_alternate_phone" name="alternate_phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="DeployStaff.alternate_phone" />
                </div>
            </div>
        </div>

        <!-- ------------------------- General--------------------------------- -->
        <div><b>General (optional)</b></div>
        <div class="col-sm-12" style="margin-bottom:15px;">
            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="fname">First Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="G_fname" name="fname" type="text" ng-model="GenStaff.fname" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="lname">Last Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="G_lname" name="lname" type="text" ng-model="GenStaff.lname" />
                </div>
            </div>

            <div class="col-md-4 form-group">
                <span class="col-md-12 control-label" for="email">Email:</span>
                <div class="col-md-12">
                    <input class="form-control" id="G_email" name="email" type="email" ng-model="GenStaff.email" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="phone">Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="G_phone" name="phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="GenStaff.phone" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="alternate_phone">Alternate Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="G_alternate_phone" name="alternate_phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="GenStaff.alternate_phone" />
                </div>
            </div>
        </div>

        <!-- ------------------------- Inland Flood--------------------------------- -->
        <div><b>Inland Flood (optional)</b></div>
        <div class="col-sm-12" style="margin-bottom:15px;">
            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="fname">First Name:</span>
                <div class="col-md-12">
                    <input class=" form-control" id="I_fname" name="fname" type="text" ng-model="InlandStaff.fname" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="lname">Last Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="I_lname" name="lname" type="text" ng-model="InlandStaff.lname" />
                </div>
            </div>

            <div class="col-md-4 form-group">
                <span class="col-md-12 control-label" for="email">Email:</span>
                <div class="col-md-12">
                    <input class="form-control" id="I_email" name="email" type="email" ng-model="InlandStaff.email" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="phone">Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="I_phone" name="phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="InlandStaff.phone" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="alternate_phone">Alternate Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="I_alternate_phone" name="alternate_phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="InlandStaff.alternate_phone" />
                </div>
            </div>
        </div>

        <!-- ------------------------- Coastal Flood--------------------------------- -->
        <div><b>Coastal Flood (optional)</b></div>
        <div class="col-sm-12" style="margin-bottom:15px;">
            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="fname">First Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="C_fname" name="fname" type="text" ng-model="CoastStaff.fname" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="lname">Last Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="C_lname" name="lname" type="text" ng-model="CoastStaff.lname" />
                </div>
            </div>

            <div class="col-md-4 form-group">
                <span class="col-md-12 control-label" for="email">Email:</span>
                <div class="col-md-12">
                    <input class="form-control" id="C_email" name="email" type="email" ng-model="CoastStaff.email" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="phone">Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="C_phone" name="phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="CoastStaff.phone" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="alternate_phone">Alternate Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="C_alternate_phone" name="alternate_phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="CoastStaff.alternate_phone" />
                </div>
            </div>
        </div>

        <!-- ------------------------- Water Quality--------------------------------- -->
        <div><b>Water Quality (optional)</b></div>
        <div class="col-sm-12" style="margin-bottom:15px;">
            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label req" for="fname">First Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="W_fname" name="fname" type="text" ng-model="WaterStaff.fname" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="lname">Last Name:</span>
                <div class="col-md-12">
                    <input class="form-control" id="W_lname" name="lname" type="text" ng-model="WaterStaff.lname" />
                </div>
            </div>

            <div class="col-md-4 form-group">
                <span class="col-md-12 control-label" for="email">Email:</span>
                <div class="col-md-12">
                    <input class="form-control" id="W_email" name="email" type="email" ng-model="WaterStaff.email" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="phone">Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="W_phone" name="phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="WaterStaff.phone" />
                </div>
            </div>

            <div class="col-md-3 form-group">
                <span class="col-md-12 control-label" for="alternate_phone">Alternate Phone:</span>
                <div class="col-md-12">
                    <input class="form-control" id="W_alternate_phone" name="alternate_phone"
                           type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" ng-model="WaterStaff.alternate_phone" />
                </div>
            </div>
        </div>
    </uib-accordion-group>

    <div>
        <input type="checkbox" name="complete" ng-model="newReport.complete" ng-true-value="'1'" ng-false-value="'0'" />
        Check if this Report is Complete. (If left unchecked, you may come back later to finish it)
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="saveReport(fullReportForm.$valid)">Save</button>
        </div>
    </div>
</uib-accordion>


