<div class="panel-body">
    <div class="wizard">
        <a ui-sref=".reportDash" ui-sref-active="active">Reporting Dashboard</a>
        <a ui-sref=".submitReport" ui-sref-active="active">Submit Report</a>
        <a ui-sref=".generateReport" ui-sref-active="active">Generate Summary</a>
    </div>
    <div ui-view></div>
</div>
<style type="text/css">
    /*table {
        width:100%;
        overflow:auto;
        display:block;
    }*/
    .rep-dialog .modal-dialog {
        width: 90%;
        font-size: smaller;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        .hidden-print {
            display: none !important;
        }

        #print-content * {
            visibility: visible;
        }

        .modal {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding-right: 20px;
            /*padding: 0;*/
            min-height: 550px;
            visibility: visible;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
        }

        .modal-dialog {
            width: 100%;
            padding: 0;
            margin: 20px;
            visibility: visible !important;
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
        }

        .modal-footer {
            border-top: 0;
        }
    }
</style>

<!-- MODAL for "View" click of report -->
<script type="text/ng-template" id="ViewReport.html">

    <div id="print-content">
        <div class="modal-header">
            <h3 class="modal-title">Short Term Network Modeling</h3>
        </div>
        <div class="modal-body">
            <div class="" id="jobSetupPrintPdf">
                <div class="col-lg-12">
                    <table id="Sec1PDF" class="table">
                        <tr><th>Section 1: Report Parameters</th></tr>
                        <tr style="border-bottom:solid thin #e2e2e2">
                            <td><b>Date being reported:</b> {{ReportView.Report.report_date | date: 'MM/dd/yyyy'}}</td>
                            <td><b>Event:</b> {{ReportView.Report.event_name}}</td>
                            <td><b>State:</b> {{ReportView.Report.state}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-6 pull-left">
                    <table id="Sec2aPDF" class="table">
                        <tr><label>Section 2a: Personnel Unaccounted for</label></tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="font-family: 'BryantBold';">Surfacewater</td>
                            <td style="font-family: 'BryantBold';">Water Quality &amp; Other</td>
                        </tr>
                        <tr>
                            <td colspan="2">Employees not accounted for</td>
                            <td style="text-align:center">{{ReportView.Report.sw_fieldpers_notacct}}</td>
                            <td style="text-align:center">{{ReportView.Report.wq_fieldpers_notacct}}</td>
                        </tr>
                    </table>
                    <table class="table" id="Sec2bPDF">
                        <tr><label>Section 2b: Personnel Out</label></tr>
                        <tr>
                            <td rowspan="3">
                                <span>Personnel in the field</span>
                            </td>
                            <td>Yesterday</td>
                            <td style="text-align:center">{{ReportView.Report.yest_fieldpers}}</td>                            
                        </tr>
                        <tr>
                            <td>Today</td>
                            <td style="text-align:center">{{ReportView.Report.tod_fieldpers}}</td>
                        </tr>
                        <tr>
                            <td>Tomorrow</td>
                            <td style="text-align:center">{{ReportView.Report.tmw_fieldpers}}</td>
                        </tr>
                        <tr>
                            <td rowspan="3">Personnel in the office</td>
                            <td>Yesterday</td>
                            <td style="text-align:center">{{ReportView.Report.yest_officepers}}</td>
                        </tr>
                        <tr>
                            <td>Today</td>
                            <td style="text-align:center">{{ReportView.Report.tod_officepers}}</td>
                        </tr>
                        <tr>
                            <td>Tomorrow</td>
                            <td style="text-align:center">{{ReportView.Report.tmw_officepers}}</td>
                        </tr>
                    </table>

                    <table id="Sec3PDF" class="table">
                        <tr><label>Section 3: Instrumentation & Sampling Counts</label></tr>
                        <tr>
                            <td colspan="2" class="col-md-5">Gage visits (cumulative)</td>
                            <td colspan="2" style="text-align:center" class="col-md-3">{{ReportView.Report.gage_visit}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Gages down at present</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.gage_down}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Discharge measurements</td>
                            <td>To date</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.tot_discharge_meas}}</td>
                        </tr>
                        <tr>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_discharge_meas}}</td>
                        </tr>                        
                        <tr>
                            <td colspan="2">Indirect measurements planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_indirect_meas}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Rating extensions</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rating_extens}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Peaks of record on gages to date </br>(>20 yrs of record)</td>
                            <td style="text-align:center" colspan=" 2">{{ReportView.Report.gage_peak_record}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Rapid Deployment gages to date</td>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_rapdepl_gage}}</td>
                        </tr>
                        <tr>
                            <td>Deployed</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.dep_rapdepl_gage}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rec_rapdepl_gage}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.lost_rapdepl_gage}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Water Level Sensors to date</td>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_wtrlev_sensor}}</td>
                        </tr>
                        <tr>
                            <td>Deployed</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.dep_wtrlev_sensor}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rec_wtrlev_sensor}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.lost_wtrlev_sensor}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Wave Sensors to date</td>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_wv_sens}}</td>
                        </tr>
                        <tr>
                            <td>Deployed</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.dep_wv_sens}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rec_wv_sens}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.lost_wv_sens}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Barometers to date</td>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_barometric}}</td>
                        </tr>
                        <tr>
                            <td>Deployed</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.dep_barometric}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rec_barometric}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.lost_barometric}}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Meteorological Sensors to date</td>
                            <td>Planned</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.plan_meteorological}}</td>
                        </tr>
                        <tr>
                            <td>Deployed</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.dep_meteorological}}</td>
                        </tr>
                        <tr>
                            <td>Recovered</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.rec_meteorological}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.lost_meteorological}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Highwater Mark to date</td>
                            <td>Flagged</td>
                            <td style="text-align:center" colspan=" 2">{{ReportView.Report.hwm_flagged}}</td>
                        </tr>
                        <tr>
                            <td>Collected</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.hwm_collected}}</td>
                        </tr>                        
                        <tr>
                            <td colspan="2">Discrete QW samples collected</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.qw_discr_samples}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Sediment samples collected</td>
                            <td style="text-align:center" colspan="2">{{ReportView.Report.coll_sedsamples}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-6 pull-right">
                    <table id="Sec4PDF" class="table">
                        <tr><label>Section 4: Notes</label></tr>
                        <tr><div>{{ReportView.Report.notes}}</div></tr>
                    </table>

                    <table id="Sec5PDF_Submit" class="table">
                        <tr><label>Section 5: Contact Information</label></tr>
                        <tr><td><label>Submitter</label></td><td></td></tr>
                        <tr><td>Name</td><td>{{ReportView.submitter.mem.fname}} {{submitter.mem.lname}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.submitter.mem.phone}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.submitter.mem.email}}</td></tr>
                        <tr><td>Office Name</td><td>{{ReportView.submitter.agency_name}}</td></tr>
                        <tr><td>Office Address</td><td>{{ReportView.submitter.agency_address}}</td></tr>
                    </table>

                    <table ng-if="ReportView.deployStaff.fname != undefined" id="Sec5PDF_Deploy" class="table">
                        <tr><td style="border:none"><label>Event Contacts</label></td></tr>
                        <tr><td colspan="2"><label>Deployed Staff</label></td></tr>
                        <tr><td>Name</td><td>{{ReportView.deployStaff.fname}} {{ReportView.deployStaff.lname}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.deployStaff.email}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.deployStaff.phone}}</td></tr>
                        <tr><td>Alternate Phone</td><td>{{ReportView.deployStaff.alternate_phone}}</td></tr>
                    </table>

                    <table ng-if="ReportView.generalStaff.fname != undefined" id="Sec5PDF_Gen" class="table">
                        <tr><td colspan="2"><label>General Staff</label></td></tr>
                        <tr><td>Name</td><td>{{ReportView.generalStaff.fname}} {{ReportView.generalStaff.lname}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.generalStaff.email}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.generalStaff.phone}}</td></tr>
                        <tr><td>Alternate Phone</td><td>{{ReportView.generalStaff.alternate_phone}}</td></tr>
                    </table>

                    <table ng-if="ReportView.inlandStaff.fname != undefined" id="Sec5PDF_Inland" class="table">
                        <tr><td colspan="2"><label>Inland Staff</label></td></tr>
                        <tr><td>Name</td><td>{{ReportView.inlandStaff.fname}} {{ReportView.inlandStaff.lname}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.inlandStaff.email}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.inlandStaff.phone}}</td></tr>
                        <tr><td>Alternate Phone</td><td>{{ReportView.inlandStaff.alternate_phone}}</td></tr>
                    </table>

                    <table ng-if="ReportView.coastStaff.fname != undefined" id="Sec5PDF_Coast" class="table">
                        <tr><td colspan="2"><label>Coastal Staff</label></td></tr>
                        <tr><td>Name</td><td>{{ReportView.coastStaff.fname}} {{ReportView.coastStaff.lname}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.coastStaff.email}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.coastStaff.phone}}</td></tr>
                        <tr><td>Alternate Phone</td><td>{{ReportView.coastStaff.alternate_phone}}</td></tr>
                    </table>

                    <table ng-if="ReportView.waterStaff.fname != undefined" id="Sec5PDF_Water" class="table">
                        <tr><td colspan="2"><label>Water Staff</label></td></tr>
                        <tr><td>Name</td><td>{{ReportView.waterStaff.fname}} {{ReportView.waterStaff.lname}}</td></tr>
                        <tr><td>Email</td><td>{{ReportView.waterStaff.email}}</td></tr>
                        <tr><td>Phone</td><td>{{ReportView.waterStaff.phone}}</td></tr>
                        <tr><td>Alternate Phone</td><td>{{ReportView.waterStaff.alternate_phone}}</td></tr>
                    </table>
                </div>
            </div>
            <br clear="all" />

            <div class="modal-footer hidden-print ">
                <!--<a href="#" print="jobSetupPrintPdf"><button class="btn btn-primary">Print</button></a>-->
                <button class="btn btn-primary" ng-click="print()">Print</button>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </div>

</script>

<!-- MODAL for "Display Metrics Summary" click -->
<script type="text/ng-template" id="MetricsSummary.html">

    <div id="print-content">
        <div class="modal-header">
            <h3 class="modal-title">USGS Flood Operations Monitoring</h3>
        </div>
        <div class="modal-body">
            <div ng-show="Report.length > 0" class="" id="jobSetupPrintPdf1">
                <div class="col-lg-12">
                    <h3>USGS {{Event.Event.event_name}} Report for {{Report[0].report.report_date | date: 'MM/dd/yyyy'}}</h3>
                    <table id="eventPart" class="table">
                        <tr>
                            <td class="col-lg-2">Event Description:</td>
                            <td>{{Event.Event.event_description}}</td>
                        </tr>
                        <tr>
                            <td>Event Type:</td>
                            <td>{{Event.EventType.type}}</td>
                        </tr>
                        <tr>
                            <td>Event Status:</td>
                            <td>{{Event.EventStat.status}}</td>
                        </tr>
                        <tr>
                            <td>Event Coordinator:</td>
                            <td>{{Event.Coordinator.fname}} {{Event.Coordinator.lname}}, {{Event.CoordAgency.agency_name}}, {{Event.Coordinator.email}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12">
                    <label>Deployed Personnel</label>
                    <table class="table table-bordered">
                        <tr>
                            <td colspan="2"></td>
                            <td>Employees not accounted for</td>
                        </tr>                        
                        <tbody ng-repeat="r in Report">
                            <tr>
                                <td style="vertical-align:middle" rowspan="2">{{r.report.state}}</td>
                                <td class="col-lg-2">SW</td>
                                <td style="text-align:center">{{r.report.sw_fieldpers_notacct}}</td><!-- Not accounted for -->
                            </tr>
                            <tr>
                                <td>WQ & Other</td>
                                <td style="text-align:center">{{r.report.wq_fieldpers_notacct}}</td><!-- Not accounted for -->                                
                            </tr>
                        </tbody>
                        <tfoot>
                        <th colspan="2">TOTALS</th>
                        <th style="text-align:center">{{totals.notAcctForEmps}}</th>                        
                        </tfoot>
                    </table>
                    <table class="table table-bordered">
                        <tr><td></td><!--spot for state name-->
                            <td colspan="4">Personnel in the Field</td>
                            <td colspan="4">Personnel in the Office</td>
                        </tr>
                        <tr><td></td><!--spot for state name-->
                            <td>Cumulative Person Days</td>
                            <td>Yesterday</td>
                            <td>Today</td>
                            <td>Tomorrow</td>
                            <td>Cumulative Person Days</td>
                            <td>Yesterday</td>
                            <td>Today</td>
                            <td>Tomorrow</td>
                        </tr>
                        <tbody ng-repeat="r in Report">
                            <tr>
                                <td style="vertical-align:middle">{{r.report.state}}</td>
                                <td style="text-align:center">{{r.report.yest_fieldpers + r.report.tod_fieldpers + r.report.tmw_fieldpers}}</td><!-- cumulative field-->
                                <td style="text-align:center">{{r.report.yest_fieldpers}}</td><!-- yest field-->
                                <td style="text-align:center">{{r.report.tod_fieldpers}}</td><!-- today field-->
                                <td style="text-align:center">{{r.report.tmw_fieldpers}}</td><!-- tomorrow field-->
                                <td style="text-align:center">{{r.report.yest_officepers + r.report.tod_officepers + r.report.tmw_officepers}}</td><!-- cumulative office-->
                                <td style="text-align:center">{{r.report.yest_officepers}}</td><!-- yest office-->
                                <td style="text-align:center">{{r.report.tod_officepers}}</td><!-- today office-->
                                <td style="text-align:center">{{r.report.tmw_officepers}}</td><!-- tomorrow office -->
                            </tr>
                        </tbody>
                        <tfoot>
                        <th>TOTALS</th>
                        <th style="text-align:center">{{totals.cumPField}}</th>
                        <th style="text-align:center">{{totals.yesPField}}</th>
                        <th style="text-align:center">{{totals.todPField}}</th>
                        <th style="text-align:center">{{totals.tomPField}}</th>
                        <th style="text-align:center">{{totals.cumPOffice}}</th>
                        <th style="text-align:center">{{totals.yesPOffice}}</th>
                        <th style="text-align:center">{{totals.todPOffice}}</th>
                        <th style="text-align:center">{{totals.tomPOffice}}</th>
                        </tfoot>
                    </table>
                </div>

                <div class="col-lg-12">
                    <table id="instrumentCounts1" class="table table-bordered">
                        <tr><label>Instrumentation and Sampling Counts</label></tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>To Date</td>
                            <td>Planned</td>                            
                            <td colspan="8"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Gage Visits</td>
                            <td>Gages Down at Present</td>
                            <td colspan="2">Discharge Measurements</td>
                            <td>Indirect Measurements</td>
                            <td>Rate Extensions</td>
                            <td>Peaks of Record</td>
                            <td>Discrete QW Samples Collected</td>
                            <td>Sediment Samples Collected</td>
                        </tr>
                        <tbody ng-repeat="r in Report">
                            <tr>
                                <td>{{r.report.state}}</td>
                                <td style="text-align:center">{{r.report.gage_visit}}</td>
                                <td style="text-align:center">{{r.report.gage_down}}</td>
                                <td style="text-align:center">{{r.report.tot_discharge_meas}}</td>
                                <td style="text-align:center">{{r.report.plan_discharge_meas}}</td>
                                <td style="text-align:center">{{r.report.plan_indirect_meas}}</td>
                                <td style="text-align:center">{{r.report.rating_extens}}</td>
                                <td style="text-align:center">{{r.report.gage_peak_record}}</td>
                                <td style="text-align:center">{{r.report.qw_discr_samples}}</td>
                                <td style="text-align:center">{{r.report.coll_sedsamples}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <th>TOTALS</th>
                        <th style="text-align:center">{{totals.gageVisits}}</th>
                        <th style="text-align:center">{{totals.gagesDown}}</th>
                        <th style="text-align:center">{{totals.disCtoDate}}</th>
                        <th style="text-align:center">{{totals.disCPlanned}}</th>
                        <th style="text-align:center">{{totals.indMeas}}</th>
                        <th style="text-align:center">{{totals.ratExt}}</th>
                        <th style="text-align:center">{{totals.peaksOfRec}}</th>
                        <th style="text-align:center">{{totals.disQWSamples}}</th>
                        <th style="text-align:center">{{totals.sedSamples}}</th>
                        </tfoot>
                    </table>
                </div>

                <div class="col-lg-12">
                    <table id="instrumentCounts2" class="table table-bordered table-condensed">
                        <tr>
                            <td></td>
                            <td colspan="4">Rapid Deployment Gages</td>
                            <td colspan="4">Water Level Sensors</td>
                            <td colspan="4">Wave Sensors</td>                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>Planned</td>
                            <td>Deployed</td>
                            <td>Recovered</td>
                            <td>Lost</td>
                            <td>Planned</td>
                            <td>Deployed</td>
                            <td>Recovered</td>
                            <td>Lost</td>
                            <td>Planned</td>
                            <td>Deployed</td>
                            <td>Recovered</td>
                            <td>Lost</td>                            
                        </tr>
                        <tbody ng-repeat="r in Report">
                            <tr>
                                <td>{{r.report.state}}</td>
                                <td style="text-align:center">{{r.report.plan_rapdepl_gage}}</td>
                                <td style="text-align:center">{{r.report.dep_rapdepl_gage}}</td>
                                <td style="text-align:center">{{r.report.rec_rapdepl_gage}}</td>
                                <td style="text-align:center">{{r.report.lost_rapdepl_gage}}</td>
                                <td style="text-align:center">{{r.report.plan_wtrlev_sensor}}</td>
                                <td style="text-align:center">{{r.report.dep_wtrlev_sensor}}</td>
                                <td style="text-align:center">{{r.report.rec_wtrlev_sensor}}</td>
                                <td style="text-align:center">{{r.report.lost_wtrlev_sensor}}</td>
                                <td style="text-align:center">{{r.report.plan_wv_sens}}</td>
                                <td style="text-align:center">{{r.report.dep_wv_sens}}</td>
                                <td style="text-align:center">{{r.report.rec_wv_sens}}</td>
                                <td style="text-align:center">{{r.report.lost_wv_sens}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <th>TOTALS</th>
                        <th style="text-align:center">{{totals.rdgPlan}}</th>
                        <th style="text-align:center">{{totals.rdgDep}}</th>
                        <th style="text-align:center">{{totals.rdgRec}}</th>
                        <th style="text-align:center">{{totals.rdgLost}}</th>
                        <th style="text-align:center">{{totals.waterPlan}}</th>
                        <th style="text-align:center">{{totals.waterDep}}</th>
                        <th style="text-align:center">{{totals.waterRec}}</th>
                        <th style="text-align:center">{{totals.waterLost}}</th>
                        <th style="text-align:center">{{totals.wavePlan}}</th>
                        <th style="text-align:center">{{totals.waveDep}}</th>
                        <th style="text-align:center">{{totals.waveRec}}</th>
                        <th style="text-align:center">{{totals.waveLost}}</th>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-12">
                    <table id="instrumentCounts3" class="table table-bordered table-condensed">
                        <tr>
                            <td></td>                           
                            <td colspan="4">Barometers</td>
                            <td colspan="4">Meteorological Sensors</td>
                            <td colspan="2">Highwater Marks</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Planned</td>
                            <td>Deployed</td>
                            <td>Recovered</td>
                            <td>Lost</td>
                            <td>Planned</td>
                            <td>Deployed</td>
                            <td>Recovered</td>
                            <td>Lost</td>
                            <td>Flagged</td>
                            <td>Collected</td>
                        </tr>
                        <tbody ng-repeat="r in Report">
                            <tr>
                                <td>{{r.report.state}}</td>                                
                                <td style="text-align:center">{{r.report.plan_barometric}}</td>
                                <td style="text-align:center">{{r.report.dep_barometric}}</td>
                                <td style="text-align:center">{{r.report.rec_barometric}}</td>
                                <td style="text-align:center">{{r.report.lost_barometric}}</td>
                                <td style="text-align:center">{{r.report.plan_meteorological}}</td>
                                <td style="text-align:center">{{r.report.dep_meteorological}}</td>
                                <td style="text-align:center">{{r.report.rec_meteorological}}</td>
                                <td style="text-align:center">{{r.report.lost_meteorological}}</td>
                                <td style="text-align:center">{{r.report.hwm_flagged}}</td>
                                <td style="text-align:center">{{r.report.hwm_collected}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <th>TOTALS</th>                        
                        <th style="text-align:center">{{totals.baroPlan}}</th>
                        <th style="text-align:center">{{totals.baroDep}}</th>
                        <th style="text-align:center">{{totals.baroRec}}</th>
                        <th style="text-align:center">{{totals.baroLost}}</th>
                        <th style="text-align:center">{{totals.metPlan}}</th>
                        <th style="text-align:center">{{totals.metDep}}</th>
                        <th style="text-align:center">{{totals.metRec}}</th>
                        <th style="text-align:center">{{totals.metLost}}</th>
                        <th style="text-align:center">{{totals.hwmFlag}}</th>
                        <th style="text-align:center">{{totals.hwmCol}}</th>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div ng-show="Report.length == 0">
                <h4>No Completed Reports match your filter choices.</h4>
            </div>
            <br clear="all" />

            <div class="modal-footer hidden-print ">
                <!--<a ng-if="Report.length > 0" href="#" print="jobSetupPrintPdf1"><button class="btn btn-primary">Print</button></a>-->
                <button class="btn btn-primary" ng-click="print()">Print</button>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </div>
</script>

<!-- MODAL for "Display Contacts Summary" Click -->
<script type="text/ng-template" id="ContactMetricsSummary.html">

    <div id="print-content">
        <div class="modal-header">
            <h3 class="modal-title">USGS Flood Operations Monitoring</h3>
        </div>
        <div class="modal-body">
            <div ng-show="Reports.length > 0" class="" id="jobSetupPrintPdf2">
                <div class="col-lg-12">
                    <h3>USGS {{Event.Event.event_name}} Contacts Report for {{Reports[0].report_date | date: 'MM/dd/yyyy'}}</h3>
                    <table id="eventPart" class="table">
                        <tr>
                            <td class="col-lg-2">Event Description:</td>
                            <td>{{Event.Event.event_description}}</td>
                        </tr>
                        <tr>
                            <td>Event Type:</td>
                            <td>{{Event.EventType.type}}</td>
                        </tr>
                        <tr>
                            <td>Event Status:</td>
                            <td>{{Event.EventStat.status}}</td>
                        </tr>
                        <tr>
                            <td>Event Coordinator:</td>
                            <td>{{Event.Coordinator.fname}} {{Event.Coordinator.lname}}, {{Event.CoordAgency.agency_name}}, {{Event.Coordinator.email}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12" ng-repeat="r in Reports">
                    <table class="table">
                        <tr>
                            <td colspan="6" style="text-align:center;border:thin solid black;background:steelblue"><label><b>{{r.State}}</b></label></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>Submitter</label></td>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>Deployer</label></td>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>General</label></td>
                        </tr>
                        <tr>
                            <td style="width:10%;border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.submitter.fname}} {{r.submitter.lname}}</td>
                            <td style="width:10%;border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.depC.fname}} {{r.depC.lname}}</td>
                            <td style="width:10%;border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.genC.fname}} {{r.genC.lname}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.submitter.phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.depC.phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.genC.phone}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-right:thin solid black">{{r.submitter.email}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Alt Phone</td>
                            <td style="border-right:thin solid black">{{r.depC.alt_phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Alt Phone</td>
                            <td style="border-right:thin solid black">{{r.genC.alt_phone}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Office Name</td>
                            <td style="border-right:thin solid black">{{r.submitter.officename}}</td>
                            <td style="border-bottom:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-bottom:thin solid black;border-right:thin solid black">{{r.depC.email}}</td>
                            <td style="border-bottom:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-bottom:thin solid black;border-right:thin solid black">{{r.genC.email}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-bottom:thin solid black;border-right:thin solid black">Office Address</td>
                            <td style="border-bottom:thin solid black;border-right:thin solid black">{{r.submitter.officeadd}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr></tr>

                        <tr>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>Inland Flood</label></td>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>Coastal Flood</label></td>
                            <td colspan="2" style="text-align:center;border:thin solid black"><label>Water Quality</label></td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.inlC.fname}} {{r.inlC.lname}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.coastC.fname}} {{r.coastC.lname}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Name</td>
                            <td style="border-right:thin solid black">{{r.waterC.fname}} {{r.waterC.lname}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.inlC.phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.coastC.phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Phone</td>
                            <td style="border-right:thin solid black">{{r.waterC.phone}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-right:thin solid black">Alt Phone</td>
                            <td style="border-right:thin solid black">{{r.inlC.alt_phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Alt Phone</td>
                            <td style="border-right:thin solid black">{{r.coastC.alt_phone}}</td>
                            <td style="border-left:thin solid black;border-right:thin solid black">Alt Phone</td>
                            <td style="border-right:thin solid black">{{r.waterC.alt_phone}}</td>
                        </tr>
                        <tr>
                            <td style="border-left:thin solid black;border-bottom:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-right:thin solid black;border-bottom:thin solid black">{{r.inlC.email}}</td>
                            <td style="border-left:thin solid black;border-bottom:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-right:thin solid black;border-bottom:thin solid black">{{r.coastC.email}}</td>
                            <td style="border-left:thin solid black;border-bottom:thin solid black;border-right:thin solid black">Email</td>
                            <td style="border-right:thin solid black;border-bottom:thin solid black">{{r.waterC.email}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="Reports.length == 0">
                <h4>No Completed Reports match your filter choices.</h4>
            </div>
            <br clear="all" />

            <div class="modal-footer hidden-print">
                <!--<a ng-if="Reports.length > 0" href="#" print="jobSetupPrintPdf2"><button class="btn btn-primary">Print</button></a>-->
                <button class="btn btn-primary" ng-click="print()">Print</button>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </div>
</script>
