<!--<div>
    <h2 style="margin-top:0">Site {{aSite.SITE_NO}}</h2>
</div>
<hr />-->

<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.mapOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.mapOpen, 'glyphicon-chevron-right': !status.mapOpen}"></i>
            <span>Map</span>
            <a ui-sref="map" title="Go to this Site on the Map tab."><i class="pull-right glyphicon glyphicon-globe"></i></a>
        </uib-accordion-heading>
        <!--<leaflet markers="markers" center="center"></leaflet>-->
    </uib-accordion-group>

    <uib-accordion-group is-open="status.siteOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.siteOpen, 'glyphicon-chevron-right': !status.siteOpen}"></i>
            <span>Site</span>
        </uib-accordion-heading>
        <button type="button" ng-if="aSite.SITE_ID != undefined" class="btn btn-primary pull-right" ng-click="openSiteCreate()">Edit Site</button>
        <button type="button" ng-if="aSite.SITE_ID == undefined" class="btn btn-primary pull-right" ng-click="openSiteCreate()">Create Site</button>
        <div ng-if="aSite.SITE_ID != undefined">
            <form class="form-horizontal">
                <fieldset>
                    <!--Site Description*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputSITE_DESCRIPTION">Site Description:</label>
                        <div class="col-md-7">
                            <textarea readonly="readonly" class="form-control" id="inputSITE_DESCRIPTION" type="text" rows="3" ng-model="aSite.SITE_DESCRIPTION" />
                        </div>
                    </div>

                    <!--Internal Notes-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputSITE_NOTES">Internal Notes:</label>
                        <div class="col-md-7">
                            <textarea ng-if="aSite.SITE_NOTES" readonly="readonly" class="form-control" id="inputSITE_NOTES" type="text" rows="3" ng-model="aSite.SITE_NOTES" />
                            <span ng-if="aSite.SITE_NOTES == undefined">---</span>
                        </div>
                    </div>

                    <!--Latitude*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputLATITUDE_DD">Latitude:</label>
                        <div class="col-md-7"><span>{{aSite.LATITUDE_DD}}</span></div>
                    </div>

                    <!--Longitude*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputLONGITUDE_DD">Longitude:</label>
                        <div class="col-md-7"><span>{{aSite.LONGITUDE_DD}}</span></div>
                    </div>

                    <!--Horizontal Datum*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputHDATUM_ID">Horizontal Datum:</label>
                        <div class="col-md-7"><span>{{aSite.HorizontalDatum}}</span></div>
                    </div>

                    <!--Horizontal Collection Method*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputHCOLLECT_METHOD_ID">Horizontal Collection Method:</label>
                        <div class="col-md-7"><span>{{aSite.HorizontalCollectMethod}}</span></div>
                    </div>

                    <!--Address-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputADDRESS">Address:</label>
                        <div class="col-md-7"><span>{{aSite.ADDRESS || "---"}}</span></div>
                    </div>

                    <!--City-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputCITY">City:</label>
                        <div class="col-md-7"><span>{{aSite.CITY || "---"}}</span></div>
                    </div>

                    <!--State*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputSTATE">State:</label>
                        <div class="col-md-7"><span>{{aSite.STATE || "---"}}</span></div>
                    </div>

                    <!--Zip-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputZIP">Zip:</label>
                        <div class="col-md-7"><span>{{aSite.ZIP || "---"}}</span></div>
                    </div>

                    <!--County*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputCOUNTY">County:</label>
                        <div class="col-md-7"><span>{{aSite.COUNTY || "---"}}</span></div>
                    </div>

                    <!--Waterbody*-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputWATERBODY">Waterbody:</label>
                        <div class="col-md-7"><span>{{aSite.WATERBODY}}</span></div>
                    </div>

                    <!--Drainage Area-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputDRAINAGE_AREA_SQMI">Drainage Area (sq mi):</label>
                        <div class="col-md-7"><span>{{aSite.DRAINAGE_AREA_SQMI || "---"}}</span></div>
                    </div>

                    <!--Station ID for USGS gage-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputUSGS_SID">Station ID for USGS gage:</label>
                        <div class="col-md-7"><span>{{aSite.USGS_SID || "---"}}</span></div>
                    </div>

                    <!--Station ID for NOAA gage-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputNOAA_SID">Station ID for NOAA gage:</label>
                        <div class="col-md-7"><span>{{aSite.NOAA_SID || "---"}}</span></div>
                    </div>

                    <!--Other Station ID-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputOTHER_SID">Other Station ID:</label>
                        <div class="col-md-7"><span>{{aSite.OTHER_SID || "---"}}</span></div>
                    </div>

                    <!--Safety Notes-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputSAFETY_NOTES">Safety Notes:</label>
                        <div class="col-md-7">
                            <textarea ng-if="aSite.SAFETY_NOTES" readonly="readonly" class="form-control" id="inputSAFETY_NOTES" type="text" rows="3" ng-model="aSite.SAFETY_NOTES" />
                            <span ng-if="aSite.SAFETY_NOTES == undefined">---</span>
                        </div>
                    </div>

                    <hr />

                    <!--Site Housing section-->                   
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="HOUSING_TYPE">Site Housing(s):</label>
                        <div ng-show="showSiteHouseTable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-3">House Type</th>
                                        <th class="col-sm-1">Housing Length (ft)</th>
                                        <th class="col-sm-3">Housing Material</th>
                                        <th class="col-sm-3">Housing Notes</th>
                                        <th class="col-sm-1">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="house in thisSiteHouseTypeModel">
                                        <td>{{house.TYPE_NAME}}<input type="hidden" ng-model="house.HOUSING_TYPE_ID" /><input type="hidden" ng-model="house.SITE_HOUSING_ID" /></td>
                                        <td>{{house.LENGTH}}</td>
                                        <td>{{house.MATERIAL}}</td>
                                        <td>{{house.NOTES}}</td>
                                        <td>{{house.AMOUNT}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end panel-body
                    </div>-->
                    <hr />
                    <!--Priority-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputPRIORITY_ID">Priority:</label>
                        <div class="col-md-7"><span>{{aSite.PriorityName}}</span></div>
                    </div>
                    <!--Network Type-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputNETWORK_TYPE">Site Location Type in the Network:</label>
                        <div class="col-md-7">
                            <ul style="padding-left:0">
                                <li style="list-style:none;" ng-repeat="nt in siteNetworkTypes">
                                    <span>{{nt}}</span>
                                </li>
                            </ul>
                            <span ng-if="siteNetworkTypes.length < 1">---</span>
                        </div>
                    </div>
                    <!--Network NAME-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputNETWORK_NAME">Network Name:</label>
                        <div class="col-md-7">
                            <ul style="padding-left:0">
                                <li style="list-style:none;" ng-repeat="nn in siteNetworkNames">
                                    <span>{{nn}}</span>
                                </li>
                            </ul>
                            <span ng-if="siteNetworkNames.length < 1">---</span>
                        </div>
                    </div>
                    <!--Zone-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputZONE">Zone:</label>
                        <div class="col-md-7"><span>{{aSite.ZONE || "---"}}</span></div>
                    </div>

                    <!--Sensor Not Appropriate-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputSENSOR_NOT_APPROPRIATE">Check if Sensor is not Appropriate here:</label>
                        <div class="col-md-7">
                            <input type="checkbox" disabled="disabled" name="SENSOR_NOT_APPROPRIATE" ng-model="aSite.SENSOR_NOT_APPROPRIATE" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>

                    <!--Permanent Sensor Housing?-->
                    <div class="form-group sensorInfo" ng-class="{darkClass:disableSensorParts}">
                        <label class="col-md-4 control-label" for="inputIS_PERMANENT_HOUSING_INSTALLED">Permanent Sensor Housing Installed?</label>
                        <div class="col-md-7"><span>{{aSite.IS_PERMANENT_HOUSING_INSTALLED || "---"}}</span></div>
                    </div>

                    <!--Site creator-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputMEMBER_ID">Site Creator:</label>
                        <div class="col-md-7">
                            <span>{{aSite.Creator || "---"}}</span>
                        </div>
                    </div>
                    <hr />
                    <!--start Landowner contact area-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Land Owner Information:</label>
                    </div>

                    <div ng-show="addLandowner">
                        <!--First Name:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputFNAME">First Name:</label>
                            <div class="col-md-7"><span>{{landowner.FNAME || "---"}}</span></div>
                        </div>
                        <!--Last Name:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputLNAME">Last Name:</label>
                            <div class="col-md-7"><span>{{landowner.LNAME || "---"}}</span></div>
                        </div>
                        <!--Affiliation/Title:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputTITLE">Affiliation/Title:</label>
                            <div class="col-md-7"><span>{{landowner.TITLE || "---"}}</span></div>
                        </div>
                        <!--Address:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputADDRESS">Address:</label>
                            <div class="col-md-7"><span>{{landowner.ADDRESS || "---"}}</span></div>
                        </div>
                        <!--City:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputCITY">City:</label>
                            <div class="col-md-7"><span>{{landowner.CITY || "---"}}</span></div>
                        </div>
                        <!--State-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputSTATE">State:</label>
                            <div class="col-md-7"><span>{{landowner.STATE || "---"}}</span></div>
                        </div>
                        <!--Zip:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputLOZIP">Zip:</label>
                            <div class="col-md-7"><span>{{landowner.ZIP || "---"}}</span></div>
                        </div>
                        <!--Primary Phone:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputPRIMARYPHONE">Primary Phone:</label>
                            <div class="col-md-7"><span>{{landowner.PRIMARYPHONE || "---"}}</span></div>
                        </div>
                        <!--Secondary Phone:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputSECONDARYPHONE">Secondary Phone:</label>
                            <div class="col-md-7"><span>{{landowner.SECONDARYPHONE || "---"}}</span></div>
                        </div>
                        <!--Email:-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="inputEMAIL">Email:</label>
                            <div class="col-md-7"><span>{{landowner.EMAIL || "---"}}</span></div>
                        </div>
                    </div>
                    <div ng-show="!addLandowner">
                        <span>No land owner added.</span>
                    </div>
                    <hr />

                    <br clear="all" />
                    <!--end Landowner contact area-->
                    <!--Access Permission Granted-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="inputACCESS_GRANTED">Access Permission Granted:</label>
                        <div class="col-md-7"><span>{{aSite.ACCESS_GRANTED || "---"}}</span></div>
                    </div>
                </fieldset>
            </form>
        </div>

    </uib-accordion-group>
</uib-accordion>

<style type="text/css">
    .darkClass {
        filter: alpha(opacity=50); /* IE */
        opacity: 0.5; /* Safari, Opera */
        -moz-opacity: 0.50; /* FireFox */
        z-index: 20;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
