<div class="page-padding">

    <h3 class="page-heading">Site Search - For {{sessionEvent}}</h3>

    <hr />

    <p>Search for Sites by one or more parameters. Clicking Search with no parameters set will return all sites.</p>

    <form name="siteSearchForm" class="wim-form border-bottom">
        <div class="form-item item-20">
            <label for="event_id">Events:</label>
            <div class="form-item-value">{{sessionEvent}}</div>
        </div>

        <div class="form-item item-20">
            <label for="event_id">States:</label>
            <div isteven-multi-select
                 input-model="states"
                 output-model="Chosen.state"
                 button-label="state_name"
                 item-label="state_name"
                 max-height="300px"
                 on-item-click="stateClick(data)"
                 tick-property="selected"
                 helper-elements="filter">

            </div>
        </div>

        <div class="form-item item-20">
            <label for="event_id">Sensor Types:</label>
            <select id="sensor_type_id" name="sensor_type_id" ng-model="Chosen.sensor"
                    ng-options="s.sensor_type_id as s.sensor for s in senTypes | orderBy: 'sensor'">
                <option value=""></option>
            </select>
        </div>

        <div class="form-item item-20">
            <label for="event_id">Network Names:</label>
            <select id="network_name_id" name="network_name_id" ng-model="Chosen.network"
                    ng-options="n.network_name_id as n.name for n in netNames | orderBy: 'name'">
                <option value=""></option>
            </select>
        </div>


        <div class="form-item item-20">
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.hwmOnly" ng-true-value="'1'" ng-false-value="'0'" />
                <label for="event_id">HWM Only Sites</label>
            </div>
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.senOnly" ng-true-value="'1'" ng-false-value="'0'" />
                <label for="event_id">Sensor Only Sites</label>
            </div>
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.rdgOnly" ng-true-value="'1'" ng-false-value="'0'" />
                <label for="event_id">RDG Only Sites</label>
            </div>
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="checkboxModel.opDefined" ng-true-value="'1'" ng-false-value="'0'" />
                <label for="event_id">Has OP Defined</label>
            </div>
        </div>


        <div class="form-item item-25">
            <button type="button" class="btn-wim btn-blue" ng-click="searchSites()">Search</button>
        </div>


        <div class="form-item item-25">
            <button type="button" class="btn-wim btn-purple" ng-click="clearFilters()">Clear Filters</button>
        </div>


    </form>


    <div ng-if="showHWMbox" class="results-box rb-50">
        <h3 class="results-box-title">Unapproved Site HWMs</h3>
        <ul ng-show="unApprovedHWMs.length > 0">
            <li style="list-style:none;" ng-repeat="h in unApprovedHWMs | orderBy: 'site_id'">
                <span><a ui-sref="site.dashboard({id: h.site_id})">{{h.site_no}}</a>: {{h.hwm_id}} ({{h.elev_ft}} ft.)</span>
            </li>
        </ul>
        <div ng-show="unApprovedHWMs.length == 0" class="results-box-no-result">
            No HWMs returned from query.
        </div>
    </div>

    <div ng-show="siteResponse">
        <h3 class="results-box-title">Sites:</h3>
        <script>
            var sortingOrder = 'site_no';
        </script>
        <table ng-show="siteList.length > 0" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="site_no">Site Number&nbsp;<a ng-click="sort_by('site_no')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="site_description">Description&nbsp;<a ng-click="sort_by('site_description')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="county">County&nbsp;<a ng-click="sort_by('county')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="state">State&nbsp;<a ng-click="sort_by('state')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="Networks">Network&nbsp;<a ng-click="sort_by('Networks')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="RecentOP">OP&nbsp;<a ng-click="sort_by('RecentOP')"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th class="Events">All Events using Site&nbsp;<a ng-click="sort_by('Events')"><i class="glyphicon glyphicon-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in siteList | orderBy:sortingOrder:reverse">
                    <td><a ui-sref="site.dashboard({id: s.site_id})">{{s.site_no}}</a></td>
                    <td>{{s.site_description}}</td>
                    <td>{{s.county}}</td>
                    <td>{{s.state}}</td>
                    <td><span ng-repeat="net in s.networkNames">{{net}}</span></td>
                    <td><span ng-if="s.RecentOP">{{s.RecentOP.name}}, Established: {{s.RecentOP.date_established | date:'MM/dd/yyyy'}}</span></td>
                    <td><span ng-repeat="ev in s.Events">{{ev}}<br/></span></td>
                </tr>
            </tbody>
        </table>

        <div ng-show="siteList.length == 0">
            <span>No Sites returned from query.</span>
        </div>
    </div>

</div>
