<div class="page-padding">

    <h3 class="page-heading">Pending Approval - For {{sessionEvent}}</h3>

    <hr />

    <p>Search by one or more parameters to show your to-do lists for this event.</p>

    <form name="approvalForm" class="wim-form border-bottom">
        <div class="form-item item-25">
            <label for="event">Event:</label>
            <div class="form-item-value">{{sessionEvent}}</div>
        </div>
        <div class="form-item item-25">
            <label for="state">States:</label>
            <select id="state_abbrev" name="state_abbrev" ng-model="ChosenState.id" ng-change="UpdateCounties()"
                    ng-options="s.state_abbrev as s.state_name for s in allStates">
                <option value=""></option>
            </select>
        </div>

        <div class="form-item item-25" ng-if="ChosenState.id">
            <label class="col-md-12 control-label" for="counties">Counties:</label>
            <div class="col-md-12">
                <div isteven-multi-select
                     input-model="countyArray"
                     output-model="ChosenCounties.counties"
                     button-label="county_name"
                     item-label="county_name"
                     max-height="600px"
                     tick-property="selected"
                     helper-elements="">
                </div>
            </div>
        </div>
        <!--
        <div class="form-item item-25">
            <label for="member">Members:</label>
            <select id="member_id" name="member_id" ng-model="ChosenMember.id"
                    ng-options="m.member_id as (m.lname || '') + ', ' + (m.fname || '') for m in allMembers | orderBy: 'lname'">
                <option value=""></option>
            </select>
        </div>
       -->
        <br />
        <div class="form-item item-25">
            <label>&nbsp;</label>
            <button class="btn-wim btn-blue" ng-click="search()">
                Search
            </button>
        </div>

    </form>
    <uib-accordion close-others="false">
        <!--HWM Part-->
        <uib-accordion-group ng-if="showHWMbox" is-open="accords.hwmOpen" panel-class="{{getPanelClass()}}">
            <uib-accordion-heading>
                Unapproved Site HWMs <span style="font-size:small;color:grey" class="ng-binding">(count: {{unApprovedHWMs.length}})</span>
                <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': accords.hwmOpen, 'glyphicon-chevron-right': !accords.hwmOpen}"></i>
            </uib-accordion-heading>
            <table class="table table-striped table-condensed" style="display:block;overflow:auto;">
                <thead>
                    <tr>
                        <th class="site_no">Site No&nbsp;<a ng-click="sort_by('site_no')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="hwm_label">HWM Label&nbsp;<a ng-click="sort_by('hwm_label')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="elev_ft">Surveyed Elev&nbsp;<a ng-click="sort_by('elev_ft')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="height_above_gnd">HAG<br/>(in ft.)&nbsp;<a ng-click="sort_by('height_above_gnd')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="hwm_locationdescription">Loc. Description&nbsp;<a ng-click="sort_by('hwm_locationdescription')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="flag_date">Flag/Found Date&nbsp;<a ng-click="sort_by('flag_date')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="bank">Bank&nbsp;<a ng-click="sort_by('bank')"><i class="glyphicon glyphicon-sort"></i></a></th>                        
                        <th class="hwm_quality_id">HWM Quality&nbsp;<a ng-click="sort_by('hwm_quality_id')"><i class="glyphicon glyphicon-sort"></i></a></th>                        
                        <th class="hwm_type_id">HWM Type&nbsp;<a ng-click="sort_by('hwm_type_id')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="stillwater">Tranquil/Stillwater&nbsp;<a ng-click="sort_by('stillwater')"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th class="hwm_uncertainty">HWM Uncertainty&nbsp;<a ng-click="sort_by('hwm_uncertainty')"><i class="glyphicon glyphicon-sort"></i></a></th>                        
                        <th>Approve</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="h in unApprovedHWMs | orderBy:sortingOrder:reverse">                        
                        <td><a ng-click="goToSiteDash(h.site_id)">{{h.site_no}}</a></td>
                        <td>{{h.hwm_label}}</td>
                        <td>{{h.elev_ft || '---'}}</td>
                        <td>{{h.height_above_gnd || '---'}}</td>
                        <td>{{h.hwm_locationdescription || '---'}}</td>
                        <td>{{h.flag_date | date: "MM/dd/yyyy" || '---'}}</td>
                        <td>{{h.bank || '---'}}</td>
                        <td>{{(hwmQuals | filter: {hwm_quality_id: h.hwm_quality_id})[0].hwm_quality || '---'}}</td>
                        <td>{{(hwmTypes | filter: {hwm_type_id: h.hwm_type_id})[0].hwm_type || '---'}}</td>
                        <td>{{h.stillwater || '---'}}</td>
                        <td>{{h.uncertainty || '---'}}</td>                        
                        <td><input class="site-chx" type="checkbox" ng-model="h.selected"/></td><!-- ng-change="checkedHWM(h)" /></td>-->
                    </tr>
                </tbody>
            </table>
            <div ng-if="approveCheck(unApprovedHWMs)" class="pull-right">
                <button type="button" class="btn-blue" ng-click="approveThese()">Approve These</button>
            </div>
            <div ng-show="unApprovedHWMs.length == 0" class="results-box-no-result">
                No HWMs returned from query.
            </div>
        </uib-accordion-group>
        <!-- <uib-accordion-group  ng-if="showDFbox" is-open="accords.dlOpen" panel-class="{{getPanelClass()}}">
            <uib-accordion-heading>
                Unapproved  Instrument Data Files <span style="font-size:small;color:grey" class="ng-binding">(count: {{unApprovedDFs.length}})</span>
                <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': accords.dlOpen, 'glyphicon-chevron-right': !accords.dlOpen}"></i>
            </uib-accordion-heading>
            <ul ng-show="unApprovedDFs.length > 0">
                <li style="list-style:none;" ng-repeat="d in unApprovedDFs | orderBy: 'SiteId'">
                    <span><a ui-sref="site.dashboard({id: d.SiteId})">{{d.SiteNo}}</a>: {{d.depType || d.senType}}</span>
                </li>
            </ul>
            <div ng-show="unApprovedDFs.length == 0" class="results-box-no-result">
                No Data Files returned from query.
            </div>
        </uib-accordion-group> -->
        <uib-accordion-group ng-if="showPeakbox" is-open="accords.pkOpen" panel-class="{{getPanelClass()}}">
            <uib-accordion-heading>
                Peak Information <span style="font-size:small;color:grey" class="ng-binding">(count: {{sitesWOpeaks.length}})</span>
                <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': accords.pkOpen, 'glyphicon-chevron-right': !accords.pkOpen}"></i>
            </uib-accordion-heading>
            <ul ng-show="sitesWOpeaks.length > 0">
                <li style="list-style:none;" ng-repeat="s in sitesWOpeaks | orderBy: 'site_no'">
                    <span><a ui-sref="site.dashboard({id: s.site_id})">{{s.site_no}}</a></span>
                </li>
            </ul>
            <div ng-show="sitesWOpeaks.length == 0" class="results-box-no-result">
                There are no Sites with a Peak for this Event.
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div><!-- /PAGE PADDING -->
