<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.hwmOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.hwmOpen, 'glyphicon-chevron-right': !status.hwmOpen}"></i>
            <span>High Water Marks</span>
            <span class="badge pull-right">{{SiteHWMs.length}}</span>
        </uib-accordion-heading>
        <div ng-show="sessionEventExists" class="btn-group pull-right">
            <button type="button" class="borderLess" ng-click="showHWMModal(0)" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="Add a HWM">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-md-12" ng-show="!sessionEventExists" style="border:solid 1px red">To create a HWM, first choose an Event above.</div><br clear="all" />
        <ul>
            <li style="list-style:none" ng-repeat="h in SiteHWMs  | orderBy: 'flag_date'">
                <a ng-click="showHWMModal(h)">
                    {{h.flag_date | date: "MM/dd/yyyy"}}
                    <span ng-if="h.elev_ft"> - ({{h.elev_ft}} ft.)</span>
                </a>
            </li>
        </ul>
    </uib-accordion-group>
</uib-accordion>