<div class="stn-home">
    <p>
        The USGS Short-Term Network (STN) is a national-scale application and database designed to support USGS event-based sensor deployments and High-Water Mark (HWM)
        data collection efforts. The STN database is designed to encourage, but not require, repeated visits to temporary sensor deployment (wave or water level) or
        HWM locations. By developing a system that encourages repeated, as-needed deployments in the same locations, it facilitates the development of longer-term datasets
        of storm events than would be feasible by relying on field personnel's memories of previous deployments or interpretations of paper records alone. Such efficient
        responses have become a cornerstone of the USGS Hazards Response.
    </p>
    <p>
        You are logging into the data management system designed to submit, edit, and delete your information.
    </p>
    <p>
        There are many PUBLIC ways to access flood event data:
        <ul>
            <li>Information on the program and the PUBLIC link to be distributed is: <a href="https://water.usgs.gov/floods/FEV/" target="_blank">USGS Flood Information</a></li>
            <li>View data from all events in the map viewer: <a href="https://stn.wim.usgs.gov/FEV" target="_blank">Flood Event Viewer</a></li>
            <li>Download data by event, state, and more: <a href="https://stn.wim.usgs.gov/STNDataPortal/#" target="_blank">STN Data Portal</a></li>
            <li>
                View the REST data services:
                <a href="https://stn.wim.usgs.gov/STNServices/Documentation/home" target="_blank">REST Service Documentation</a>
            </li>
        </ul>
    </p>

    <!-- NEWS FEED -->
    <div class="form-group" style="padding-top:0!important;">
        <div class="panel panel-default site-panel" style="margin-left: 0!important; width: 100%!important;">
            <div class="panel-heading">
                <h3 class="panel-title">{{newsTitle}}</h3>
            </div>
            <div class="panel-body" style="height:160px; overflow:auto;">
                <div ng-repeat="n in newsFeed">
                    <span ng-bind-html="n"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGIN INPUTS -->
    <form ng-submit="submit()" ng-controller="loginCtrl" class="login-form">
        <div class="stn-login-error">{{error}}</div>

        <div class="login-form-item pad-r">
            <label for="username">Username</label>
            <input type="text" ng-model="username" id="userNameFocus" name="username" placeholder="Enter User Name" required focus />
        </div>
        <div class="login-form-item pad-b">
            <label for="password">Password</label>
            <input type="password" ng-model="password" name="password" placeholder="Enter Password" required data-toggle="tooltip" data-trigger="manual" data-title="Caps lock is on" />
        </div>
        <div class="login-form-submit pad-l">
            <label for="submit">&nbsp;</label>
            <button type="submit" class="btn-wim">Sign in</button>
        </div>
    </form>

    <br clear="all" />

    <p>
        <small>
            For new user log-in credentials, contact your Data Chief.<br />
            If you have questions about STN or need assistance, please contact:<br />
            <b>Athena P. Clark, P.E.</b><br />
            <b>Bureau Coastal Storm Team Leader</b><br />
            <b>Southeast Region, Science Advisor</b><br />
            <b>U.S. Geological Survey</b><br />
            <b>Office: 334-395-4141</b><br />
            <b>email: athclark@usgs.gov</b><br />
        </small>
    </p>
</div>
