<div>
    This Data Management System (DMS) supports the <a href="http://stn.wimcloud.usgs.gov/stn" target="_blank">STN Mapper</a>,
    which is a metadata-discovery tool that captures information about ....
</div>
<br />
<div>You can use the STN DMS to submit, edit, and delete your information.</div>


<div class="stn-login-wrapper">
    <form ng-submit="submit()" ng-controller="loginCtrl">
        <div class="stn-login-error">{{error}}</div>

        <div class="stn-login-label"><label for="username">USERNAME:</label></div>
        <div class="stn-login-element">
            <input type="text" ng-model="username" id="userNameFocus" name="username" placeholder="Enter User Name" required focus />
        </div>

        <div class="stn-login-label"><label for="password">PASSWORD:</label></div>
        <div class="stn-login-element">
            <input type="password" ng-model="password" name="password" placeholder="Enter Password" required
                   data-toggle="tooltip" data-trigger="manual" data-title="Caps lock is on" />
        </div>

        <div class="stn-login-button">
            <button type="submit" class="form-button">Sign in</button>
        </div>
    </form>
</div>

<br clear="all"/>

<div>If you have questions about STN or need assistance, please contact:</div>

<div>
    <span>Marie Peppler</span><br />
    <span>mpeppler@usgs.gov</span><br />
    <span>703-648-5314</span>
</div>