
<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.siteOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.siteOpen, 'glyphicon-chevron-right': !status.siteOpen}"></i>
            <span>Site Info</span>
        </uib-accordion-heading>
        <div ng-if="aSite.SITE_ID != undefined">
            <form>
                <fieldset>
                    <!--Site Description-->
                    <div class="form-group">
                        <label>Site Number:</label>
                        <div>{{aSite.SITE_NO}}</div>
                    </div>

                    <!--Site Description-->
                    <div class="form-group">
                        <label>Site Description:</label>
                        <div>{{aSite.SITE_DESCRIPTION}}</div>
                    </div>

                    <!--Internal Notes-->
                    <div class="form-group">
                        <label>Internal Notes:</label>
                        <div>{{aSite.SITE_NOTES || '---'}}</div>
                    </div>

                    <!--Latitude-->
                    <div class="form-group">
                        <label>Latitude:</label>
                        <div>{{aSite.LATITUDE_DD}}</div>
                    </div>

                    <!--Longitude-->
                    <div class="form-group">
                        <label>Longitude:</label>
                        <div>{{aSite.LONGITUDE_DD}}</div>
                    </div>

                    <!--Address-->
                    <div class="form-group">
                        <label>Address:</label>
                        <div>{{aSite.ADDRESS || "---"}}</div>
                        <div>{{aSite.CITY || "---"}}, {{aSite.STATE || "---"}} {{aSite.ZIP || "---"}}</div>
                        <div>{{aSite.COUNTY || "---"}}</div>
                    </div>

                    <!--City
                <div class="form-group">
                    <label>City:</label>
                </div>
                <!--State
                <div class="form-group">
                    <label>State:</label>
                </div>
                <!--Zip
                <div class="form-group">
                    <label>Zip:</label>
                </div>-->
                    <!--County
                <div class="form-group">
                    <label>County:</label>

                </div>-->
                    <!--Waterbody-->
                    <div class="form-group">
                        <label>Waterbody:</label>
                        <div>{{aSite.WATERBODY}}</div>
                    </div>

                    <!--Zone-->
                    <div class="form-group">
                        <label>Zone:</label>
                        <div>{{aSite.ZONE || "---"}}</div>
                    </div>

                    <!--Sensor Not Appropriate-->
                    <div class="form-group">
                        <label>Sensor is not Appropriate here:</label>
                        <div ng-if="aSite.SENSOR_NOT_APPROPRIATE != null">
                            {{aSite.SENSOR_NOT_APPROPRIATE == 0 ? 'No' : 'Yes'}}
                            <!-- <input type="checkbox" disabled="disabled" name="SENSOR_NOT_APPROPRIATE" ng-model="aSite.SENSOR_NOT_APPROPRIATE" ng-true-value="1" ng-false-value="0" />-->
                        </div>
                        <div ng-if="aSite.SENSOR_NOT_APPROPRIATE == null">
                            ---
                        </div>
                    </div>
                        <!--Permanent Sensor Housing?-->
                        <div class="form-group">
                            <label>Permanent Sensor Housing Installed?</label>
                            <div>{{aSite.IS_PERMANENT_HOUSING_INSTALLED || "---"}}</div>
                        </div>
                </fieldset>
            </form>
        </div>

    </uib-accordion-group>
</uib-accordion>
<style type="text/css">
    .form-group {
        margin-bottom:0;
    }
</style>