<!--<div>
    <h2 style="margin-top:0">Site {{aSite.site_no}}</h2>
</div>
<hr />-->

<uib-accordion close-others="false">

    <uib-accordion-group is-open="status.siteOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.siteOpen, 'glyphicon-chevron-right': !status.siteOpen}"></i>
            <span>Site</span>
        </uib-accordion-heading>
        <button type="button" ng-if="aSite.site_id != undefined" class="btn btn-primary pull-right" ng-click="openSiteCreate()">Edit Site</button>
        <button type="button" ng-if="aSite.site_id == undefined" class="btn btn-primary pull-right" ng-click="openSiteCreate()">Create Site</button>
        <div ng-if="aSite.site_id != undefined">
            <form class="form-horizontal">
                <fieldset>
                    <!--Site Description*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Site Description:</label></div>
                        <div class="col-md-7"><span>{{aSite.site_description}}</span></div>
                    </div>

                    <!--Internal Notes-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Internal Notes:</label></div>
                        <div class="col-md-7">
                            <span ng-if="aSite.site_notes != undefined">{{aSite.site_notes}}</span>
                            <span ng-if="aSite.site_notes == undefined">---</span>
                        </div>
                    </div>

                    <!--Latitude*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Latitude:</label></div>
                        <div class="col-md-7"><span>{{aSite.latitude_dd}}</span></div>
                    </div>

                    <!--Longitude*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Longitude:</label></div>
                        <div class="col-md-7"><span>{{aSite.longitude_dd}}</span></div>
                    </div>

                    <!--Horizontal Datum*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Horizontal Datum:</label></div>
                        <div class="col-md-7"><span>{{aSite.HorizontalDatum}}</span></div>
                    </div>

                    <!--Horizontal Collection Method*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Horizontal Collection Method:</label></div>
                        <div class="col-md-7"><span>{{aSite.HorizontalCollectMethod}}</span></div>
                    </div>

                    <!--Address-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Address:</label></div>
                        <div class="col-md-7"><span>{{aSite.address || "---"}}</span></div>
                    </div>

                    <!--City-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>City:</label></div>
                        <div class="col-md-7"><span>{{aSite.city || "---"}}</span></div>
                    </div>

                    <!--State*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>State:</label></div>
                        <div class="col-md-7"><span>{{aSite.state || "---"}}</span></div>
                    </div>

                    <!--Zip-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Zip:</label></div>
                        <div class="col-md-7"><span>{{aSite.zip || "---"}}</span></div>
                    </div>

                    <!--County*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>County:</label></div>
                        <div class="col-md-7"><span>{{aSite.county || "---"}}</span></div>
                    </div>

                    <!--Waterbody*-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Waterbody:</label></div>
                        <div class="col-md-7"><span>{{aSite.waterbody}}</span></div>
                    </div>

                    <!--Drainage Area-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Drainage Area (sq mi):</label></div>
                        <div class="col-md-7"><span>{{aSite.drainage_area_sqmi || "---"}}</span></div>
                    </div>

                    <!--Station ID for USGS gage-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Station ID for USGS gage:</label></div>
                        <div class="col-md-7"><span>{{aSite.usgs_sid || "---"}}</span></div>
                    </div>

                    <!--Station ID for NOAA gage-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Station ID for NOAA gage:</label></div>
                        <div class="col-md-7"><span>{{aSite.noaa_sid || "---"}}</span></div>
                    </div>

                    <!--Other Station ID-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Other Station ID:</label></div>
                        <div class="col-md-7"><span>{{aSite.other_sid || "---"}}</span></div>
                    </div>

                    <!--Safety Notes-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Safety Notes:</label></div>
                        <div class="col-md-7">
                            <span ng-if="aSite.safety_notes != undefined">{{aSite.safety_notes}}</span>
                            <span ng-if="aSite.safety_notes == undefined">---</span>
                        </div>
                    </div>

                    <hr />

                    <!--Site Housing section-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Site Housing(s):</label></div>
                        <div ng-show="showSiteHouseTable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-sm-3">House Type</th>
                                        <th class="col-sm-1">Housing Length (ft)</th>
                                        <th class="col-sm-3">Housing Material</th>
                                        <th class="col-sm-3">Housing Notes</th>
                                        <th class="col-sm-1">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="house in thisSiteHouseTypeModel">
                                        <td>{{house.type_name}}<input type="hidden" ng-model="house.housing_type_id" /><input type="hidden" ng-model="house.site_housing_id" /></td>
                                        <td>{{house.length}}</td>
                                        <td>{{house.material}}</td>
                                        <td>{{house.notes}}</td>
                                        <td>{{house.amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end panel-body

                <hr />
                <!--Priority-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Priority:</label></div>
                        <div class="col-md-7"><span>{{aSite.PriorityName}}</span></div>
                    </div>
                    <!--Network Type-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Site Location Type in the Network:</label></div>
                        <div class="col-md-7">
                            <ul style="padding-left:0">
                                <li style="list-style:none;" ng-repeat="nt in siteNetworkTypes">
                                    <span>{{nt}}</span>
                                </li>
                            </ul>
                            <span ng-if="siteNetworkTypes.length < 1">---</span>
                        </div>
                    </div>
                    <!--Network NAME-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Network Name:</label></div>
                        <div class="col-md-7">
                            <ul style="padding-left:0">
                                <li style="list-style:none;" ng-repeat="nn in siteNetworkNames">
                                    <span>{{nn}}</span>
                                </li>
                            </ul>
                            <span ng-if="siteNetworkNames.length < 1">---</span>
                        </div>
                    </div>
                    <!--Zone-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Zone:</label></div>
                        <div class="col-md-7"><span>{{aSite.zone || "---"}}</span></div>
                    </div>

                    <!--Sensor Not Appropriate-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Checked if Sensor is not Appropriate here:</label></div>
                        <div class="col-md-7">
                            <input type="checkbox" disabled="disabled" name="sensor_not_appropriate" ng-model="aSite.sensor_not_appropriate" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>

                    <!--Permanent Sensor Housing?-->
                    <div class="col-md-12 sensorInfo" ng-class="{darkClass:disableSensorParts}">
                        <div class="col-md-4"><label>Permanent Sensor Housing Installed?</label></div>
                        <div class="col-md-7"><span>{{aSite.is_permanent_housing_installed || "---"}}</span></div>
                    </div>

                    <!--Site creator-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Site Creator:</label></div>
                        <div class="col-md-7">
                            <span>{{aSite.Creator || "---"}}</span>
                        </div>
                    </div>
                    <hr />
                    <!--start Landowner contact area-->
                    <br clear="all"/>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-4"><label>Land Owner Information:</label></div>
                            </div>
                            <div ng-show="addLandowner">
                                <!--First Name:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>First Name:</label></div>
                                    <div class="col-md-7"><span>{{landowner.fname || "---"}}</span></div>
                                </div>
                                <!--Last Name:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Last Name:</label></div>
                                    <div class="col-md-7"><span>{{landowner.lname || "---"}}</span></div>
                                </div>
                                <!--Affiliation/Title:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Affiliation/Title:</label></div>
                                    <div class="col-md-7"><span>{{landowner.title || "---"}}</span></div>
                                </div>
                                <!--Address:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Address:</label></div>
                                    <div class="col-md-7"><span>{{landowner.address || "---"}}</span></div>
                                </div>
                                <!--City:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>City:</label></div>
                                    <div class="col-md-7"><span>{{landowner.city || "---"}}</span></div>
                                </div>
                                <!--State-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>State:</label></div>
                                    <div class="col-md-7"><span>{{landowner.state || "---"}}</span></div>
                                </div>
                                <!--Zip:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Zip:</label></div>
                                    <div class="col-md-7"><span>{{landowner.zip || "---"}}</span></div>
                                </div>
                                <!--Primary Phone:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Primary Phone:</label></div>
                                    <div class="col-md-7"><span>{{landowner.primaryphone || "---"}}</span></div>
                                </div>
                                <!--Secondary Phone:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Secondary Phone:</label></div>
                                    <div class="col-md-7"><span>{{landowner.secondaryphone || "---"}}</span></div>
                                </div>
                                <!--Email:-->
                                <div class="col-md-12">
                                    <div class="col-md-4"><label>Email:</label></div>
                                    <div class="col-md-7"><span>{{landowner.email || "---"}}</span></div>
                                </div>
                            </div>
                            <div ng-show="!addLandowner">
                                <div class="col-md-12">
                                    <div class="col-md-4"><label></label></div>
                                    <div class="col-md-7"><span>No land owner added.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <br clear="all" />
                    <!--end Landowner contact area-->
                    <!--Access Permission Granted-->
                    <div class="col-md-12">
                        <div class="col-md-4"><label>Access Permission Granted:</label></div>
                        <div class="col-md-7"><span>{{aSite.access_granted || "---"}}</span></div>
                    </div>
                </fieldset>
            </form>
        </div>

    </uib-accordion-group>
</uib-accordion>

<style type="text/css">
    .darkClass {
        filter: alpha(opacity=50); /* IE */
        opacity: 0.5; /* Safari, Opera */
        -moz-opacity: 0.50; /* FireFox */
        z-index: 20;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
