<div ng-if="accountRole =='Admin'">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Agency Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in agencyList | orderBy: 'agency_name'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="Arowform" onaftersave="saveAgency($data, a.agency_id)" ng-show="Arowform.$visible" class="form-buttons form-inline" shown="inserted == a">
                        <button type="submit" ng-disabled="Arowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="Arowform.$waiting" ng-click="Arowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!Arowform.$visible">
                        <button class="btn btn-primary" ng-click="Arowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteAgency(a)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="a.agency_id" e-form="Arowform" e-name="agency_id">{{a.agency_id}}</span></div>
                    <span editable-text="a.agency_name" e-name="agency_name" e-form="Arowform">{{ a.agency_name || '' }}</span>
                </td>
                <td>
                    <span editable-text="a.address" e-name="address" e-form="Arowform">{{ a.address || '' }}</span>
                </td>
                <td>
                    <span editable-text="a.city" e-name="city" e-form="Arowform">{{ a.city || '' }}</span>
                </td>
                <td>
                    <span editable-select="a.state" e-name="state" e-form="Arowform" e-ng-options="s.state_abbrev as s.state_abbrev for s in stateList | orderBy: 'state_name'">
                        {{showStateAbbrev(a)}}
                    </span>
                </td>
                <td>
                    <span editable-text="a.zip" e-name="zip" e-form="Arowform">{{a.zip || ''}}</span>
                </td>
                <td>
                    <span editable-text="a.phone" e-my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}" e-name="phone" e-form="Arowform">{{a.phone || ''}}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addAgButtonShowing" class="btn btn-primary" ng-click="showAddAgClicked()">Add New Agency</button>

    <div ng-show="showAddAgForm">
        <form class="form-horizontal" name="lookupForm.agencyFm">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-3 control-label req" for="agency_name">
                        Agency Name:
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" id="agency_name" name="agency_name" type="text" placeholder="" ng-model="newAg.agency_name" required />
                    </div>                   
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="address">Address:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="address" name="address" type="text" placeholder="" ng-model="newAg.address" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="city">City:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="city" name="city" type="text" placeholder="" ng-model="newAg.city" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="state">State:</label>
                    <div class="col-md-6">
                        <select class="form-control" id="state" name="state" ng-model="newAg.state" ng-options="s.state_abbrev as s.state_abbrev for s in stateList | orderBy: 'state_name'">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="zip">Zip:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="zip" name="zip" type="text" placeholder="" ng-model="newAg.zip" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label req" for="phone">Phone:</label>
                    <div class="col-md-6">
                        <input class="form-control" id="phone" name="phone" type="text" my-input-mask="{mask: '(999) 999-9999[ x99999]', greedy:false}"
                               ng-model="newAg.phone" />
                    </div>
                </div>

                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-primary" ng-click="AddAgency(lookupForm.agencyFm.$valid, newAg)">Add</button>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindAg()">
            Never Mind
        </button>
    </div>
</div> <!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'agency_name';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="agency_name">Agency Name&nbsp;<a ng-click="sort_by('agency_name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="address">Address&nbsp;<a ng-click="sort_by('address')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="city">City&nbsp;<a ng-click="sort_by('city')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="state">State&nbsp;<a ng-click="sort_by('state')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="zip">Zip&nbsp;<a ng-click="sort_by('zip')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="phone">Phone&nbsp;<a ng-click="sort_by('phone')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in agencyList | orderBy:sortingOrder:reverse">
                <td>{{ a.agency_name || '' }}</td>
                <td>{{ a.address || '' }}</td>
                <td>{{ a.city || '' }}</td>
                <td>{{a.state}}</td>
                <td>{{a.zip || ''}}</td>
                <td>{{a.phone || ''}}</td>
            </tr>
        </tbody>
    </table>

</div>