<div ng-if="accountRole == 'Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Event Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="et in eventTypeList | orderBy: 'type'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="ETrowform" onaftersave="saveEventType($data, et.event_type_id)" ng-show="ETrowform.$visible" class="form-buttons form-inline" shown="inserted == et">
                        <button type="submit" ng-disabled="ETrowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="ETrowform.$waiting" ng-click="ETrowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!ETrowform.$visible">
                        <button class="btn btn-primary" ng-click="ETrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteEventType(et)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="et.event_type_id" e-form="ETrowform" e-name="event_type_id">{{et.event_type_id}}</span></div>
                    <span editable-text="et.type" e-name="type" e-form="ETrowform">{{ et.type|| '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addETButtonShowing" class="btn btn-primary" ng-click="showAddETClicked()">Add New Event Type</button>

    <div ng-show="showAddETForm">
        <form class="form-horizontal" name="lookupForm.eventTypeFm">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label req" for="type">
                        Event Type:
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" id="type" name="type" type="text" placeholder="" ng-model="newET.type" required />
                    </div>
                </div>

                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-primary" ng-click="AddEventType(lookupForm.eventTypeFm.$valid, newET)">Add</button>
                    </div>
                </div>
            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindET()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'type';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="type">Event Type&nbsp;<a ng-click="sort_by('type')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="et in eventTypeList | orderBy:sortingOrder:reverse">
                <td>{{ et.type || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
