<div ng-if="accountRole == 'Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Site Location Type in Network</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nt in netTypeList | orderBy: 'network_type_name'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="ESrowform" onaftersave="saveNetType($data, nt.network_type_id)" ng-show="ESrowform.$visible" class="form-buttons form-inline" shown="inserted == nt">
                        <button type="submit" ng-disabled="ESrowform.$waiting" class="btn btn-primary">save</button>
                        <button type="button" ng-disabled="ESrowform.$waiting" ng-click="ESrowform.$cancel()" class="btn btn-default">cancel</button>
                    </form>
                    <div class="buttons" ng-show="!ESrowform.$visible">
                        <button class="btn btn-primary" ng-click="ESrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteNetType(nt)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="nt.network_type_id" e-form="ESrowform" e-name="network_type_id">{{nt.network_type_id}}</span></div>
                    <span editable-text="nt.network_type_name" e-name="network_type_name" e-form="ESrowform">{{ nt.network_type_name || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addNTButtonShowing" class="btn btn-primary" ng-click="showAddNTClicked()">Add New Site Location Type in Network</button>

    <div ng-show="showAddNTForm">
        <form class="form-horizontal" name="lookupForm.netTypeFm">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-3 control-label req" for="network_type_name">
                        Site Location Type in Network:
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" id="network_type_name" name="network_type_name" type="text" placeholder="" ng-model="newNT.network_type_name" required />
                    </div>
                </div>


                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-primary" ng-click="AddNetType(lookupForm.netTypeFm.$valid, newNT)">Add</button>
                    </div>
                </div>

            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindNT()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'network_type_name';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="network_type_name">Site Location Type in Network&nbsp;<a ng-click="sort_by('network_type_name')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nt in netTypeList | orderBy:sortingOrder:reverse">
                <td>{{ nt.network_type_name || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>

