<div ng-if="accountRole == 'Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Datum Location Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="opt in opTypeList | orderBy: 'objective_point_type_id'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="OPTrowform" onaftersave="saveOPType($data, opt.objective_point_type_id)" ng-show="OPTrowform.$visible" class="form-buttons form-inline" shown="inserted == opt">
                        <button type="submit" ng-disabled="OPTrowform.$waiting" class="btn btn-primary">save</button>
                        <button type="button" ng-disabled="OPTrowform.$waiting" ng-click="OPTrowform.$cancel()" class="btn btn-default">cancel</button>
                    </form>
                    <div class="buttons" ng-show="!OPTrowform.$visible">
                        <button class="btn btn-primary" ng-click="OPTrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteOPType(opt)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="opt.objective_point_type_id" e-form="OPTrowform" e-name="objective_point_type_id">{{opt.objective_point_type_id}}</span></div>
                    <span editable-text="opt.op_type" e-name="op_type" e-form="OPTrowform">{{ opt.op_type || '' }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button ng-show="addOPTButtonShowing" class="btn btn-primary" ng-click="showAddOPTClicked()">Add New Datum Location Type</button>

    <div ng-show="showAddOPTForm">
        <form class="form-horizontal" name="lookupForm.opTypeFm">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-3 control-label req" for="op_type">
                        Datum Location Type:
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" id="op_type" name="op_type" type="text" placeholder="" ng-model="newOPT.op_type" required />
                    </div>
                </div>


                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-primary" ng-click="AddOPType(lookupForm.opTypeFm.$valid, newOPT)">Add</button>
                    </div>
                </div>

            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindOPT()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->
<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'op_type';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="op_type">Objective Point Type&nbsp;<a ng-click="sort_by('op_type')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="opt in opTypeList | orderBy:sortingOrder:reverse">
                <td>{{ opt.op_type || '' }}</td>
            </tr>
        </tbody>
    </table>
</div>


