<div ng-if="accountRole == 'Admin'">
    <table class="table">
        <thead>
            <tr>
                <th style="width:0"></th>
                <th>Sensor Type</th>
                <th>Related Deployment Type(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SenT in formattedSensTypeList | orderBy: 'sensor'">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="SENtrowform" onaftersave="saveSensorType($data, SenT.sensor_type_id)" ng-show="SENtrowform.$visible" class="form-buttons form-inline" shown="inserted == SenT">
                        <button type="submit" ng-disabled="SENtrowform.$waiting" class="btn btn-primary">save</button>
                        <button type="button" ng-disabled="SENtrowform.$waiting" ng-click="SENtrowform.$cancel()" class="btn btn-default">cancel</button>
                    </form>
                    <div class="buttons" ng-show="!SENtrowform.$visible">
                        <button class="btn btn-primary" ng-click="SENtrowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteSensorType(SenT)">del</button>
                    </div>
                </td>
                <td>
                    <div style="display:none"><span editable-text="SenT.sensor_type_id" e-form="SENtrowform" e-name="sensor_type_id">{{SenT.sensor_type_id}}</span></div>
                    <span editable-text="SenT.sensor" e-name="sensor" e-form="SENtrowform">{{ SenT.sensor || '' }}</span>
                </td>
                <td>
                    <span editable-checklist="SenT.DepTypes" e-name="DepTypes" e-form="SENtrowform" e-ng-click="checkListCheck(SenT.DepTypes, $data)" e-ng-options="d.deployment_type_id as d.method for d in depTypeList">
                        {{showDepTypes(SenT)}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <hr />

    <button ng-show="addSenTButtonShowing" class="btn btn-primary" ng-click="showAddSenTClicked()">Add New Sensor Type</button>

    <div ng-show="showAddSenTForm">
        <form class="form-horizontal" name="lookupForm.sensTFm">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-3 control-label req" for="sensor">
                        Sensor Type:
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" id="sensor" name="sensor" type="text" placeholder="" ng-model="newSenT.sensor" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label req">
                        Related Deployment Type(s) (if any):
                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                        </button>
                    </label>
                    <div class="col-md-6">
                        <ul>
                            <li style="list-style:none;" ng-repeat="dt in depTypeList">
                                <input type="checkbox" name="allDepTypes" ng-model="dt.selected" ng-click="addDepTypeToNewSenT(dt)" ng-value="{{dt.deployment_type_id}}" class="col-md-1" />{{ dt.method }}
                            </li>
                        </ul>
                    </div>
                </div>

                <!--submit button-->
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-primary" ng-click="AddSensorType(lookupForm.sensTFm.$valid, newSenT)">Add</button>
                    </div>
                </div>

            </fieldset>
        </form><button class="btn btn-default center-block" style="margin-top:-48px;" ng-click="NeverMindSenT()">
            Never Mind
        </button>
    </div>
</div><!--end admin view-->

<div ng-if="accountRole !='Admin'">
    <script>
        var sortingOrder = 'sensor';
    </script>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="sensor">Sensor Type&nbsp;<a ng-click="sort_by('sensor')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Related Deployment Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SenT in formattedSensTypeList | orderBy:sortingOrder:reverse">
                <td>{{ SenT.sensor || '' }}</td>
                <td>{{ SenT.DepMETHODStrings || ''}}</td>
            </tr>
        </tbody>
    </table>
</div>
