<uib-accordion close-others="false">
    <uib-accordion-group is-open="status.peakOpen">
        <uib-accordion-heading>
            <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.peakOpen, 'glyphicon-chevron-right': !status.peakOpen}"></i>
            <span>Peaks</span>
            <span class="badge pull-right">{{peakCount.total}}</span>
        </uib-accordion-heading>

        <div ng-show="sessionEventExists" class="btn-group pull-right">
            <button type="button" class="borderLess" ng-click="showPeakModal(0)" tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Add a Peak Summary">
                <span class="glyphicon glyphicon-plus"></span>
            </button>                
        </div>
        <div class="col-md-12" ng-show="!sessionEventExists" style="border:solid 1px red">To create or view a Peak Summary, first choose an Event above.</div><br clear="all"/>
        <ul ng-if="sessionEventExists">
            <li ng-repeat="p in SitePeaks"><a class="btn" ng-click="showPeakModal(p)">{{p.PEAK_DATE | date: "MM/dd/yyyy"}} <span ng-if="p.PEAK_STAGE"> - ({{p.PEAK_STAGE}} ft.)</span></a></li>
        </ul>
    </uib-accordion-group>
</uib-accordion>
