<h3>Pending Approval - For {{sessionEvent}}</h3>

<hr />

<div>Choose what you want to approve. Search by one or more parameters</div>
<br />
<form name="approvalForm">
    <div class="row">
        <label class="col-md-1 control-label" for="EVENT">Event:</label>
        <div class="col-md-3">{{sessionEvent}}            
        </div>

        <label class="col-md-1 control-label" for="STATE">States:</label>
        <div class="col-md-3">
            <select class="form-control" id="STATE_ABBREV" name="STATE_ABBREV" ng-model="ChosenState.id"
                    ng-options="s.STATE_ABBREV as s.STATE_NAME for s in allStates">
                <option value=""></option>
            </select>
        </div>


        <label class="col-md-1 control-label" for="MEMBER">Members:</label>
        <div class="col-md-3">
            <select class="form-control" id="MEMBER_ID" name="MEMBER_ID" ng-model="ChosenMember.id"
                    ng-options="m.MEMBER_ID as (m.LNAME || '') + ', ' + (m.FNAME || '') for m in allMembers | orderBy: 'LNAME'">
                <option value=""></option>
            </select>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="span6" style="text-align:center">
            <button class="btn btn-primary large" ng-click="search()">
                Search
            </button>
        </div>
    </div>
</form>

<div ng-if="showHWMbox" class="col-md-5 panel panel-default" style="padding:0;margin:1em;">
    <div class="panel-heading">
        <h3 class="panel-title">Unapproved Site HWMs</h3>
    </div>
    <div class="panel-body">
        <div ng-show="unApprovedHWMs.length > 0">
            <ul>
                <li style="list-style:none;" ng-repeat="h in unApprovedHWMs | orderBy: 'SITE_ID'">
                    <span><a ui-sref="site.dashboard({id h.site_id})">{{h.SITE_NO}}</a>: {{h.HWM_ID}} ({{h.ELEV_FT}} ft.)</span>
                </li>
            </ul>
        </div>
        <div ng-show="unApprovedHWMs.length == 0">
            <span>No HWMs returned from query.</span>
        </div>
    </div>
</div>

<div ng-if="showDFbox" class="col-md-5 panel panel-default pull-right" style="padding:0;margin:1em;">
    <div class="panel-heading">
        <h3 class="panel-title">
            Unapproved Instrument Data Files
        </h3>
    </div>
    <div class="panel-body">
        <div ng-show="unApprovedDFs.length > 0">
            <ul> <!--track by $index-->
                <li style="list-style:none;" ng-repeat="d in unApprovedDFs | orderBy: 'SiteId'">
                    <span><a ui-sref="site.dashboard({id: d.SiteId})">{{d.SiteNo}}</a>: {{d.depType || d.senType}}</span>
                </li>
            </ul>
        </div>
        <div ng-show="unApprovedDFs.length == 0">
            <span>No Data Files returned from query.</span>
        </div>
    </div>
</div>