<div class="settings-list">
    <h3>Events</h3>
    <div ng-show="loggedInRole == 'Admin'">
        <a ng-click="showEventModal(0)"><i class="glyphicon glyphicon-plus"></i>Create New Event</a>
    </div>
    <script>
        var sortingOrder = 'Name';
    </script>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="Name">Name&nbsp;<a ng-click="sort_by('Name')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Type">Type&nbsp;<a ng-click="sort_by('Type')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Status">Status&nbsp;<a ng-click="sort_by('Status')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="StartDate">Start Date&nbsp;<a ng-click="sort_by('StartDate')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="EndDate">End Date&nbsp;<a ng-click="sort_by('EndDate')"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th class="Coord">Coordinator&nbsp;<a ng-click="sort_by('Coord')"><i class="glyphicon glyphicon-sort"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in eventList | orderBy:sortingOrder:reverse">
                <td><a ng-click="showEventModal(e)">{{e.Name}}</a></td>
                <td>{{e.Type}}</td>
                <td>{{e.Status}}</td>
                <td>{{e.StartDate | date: "MM/dd/yyyy"}}</td>
                <td>{{e.EndDate | date: "MM/dd/yyyy"}}</td>
                <td>{{e.Coord}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- eventModal.html WORKING ON -->
<script type="text/ng-template" id="eventModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Event<button class="close" type="button" ng-click="cancel()" aria-hidden="true" style="color:gray;">&times;</button></h3>
    </div>
    <!-- If this is admin view -->
    <div class="modal-body">
        <div ng-if="createOReditEV == 'create'">
            <form class="form-horizontal" ng-show="loggedInRole == 'Admin'" id="eventForm" name="eventForm">
                <fieldset>
                    <!-- Event Name -->
                    <div class="form-group" ng-class="{'has-error':eventForm.event_name.$invalid && eventForm.event_name.$dirty}">
                        <label class="col-md-4 control-label req" for="event_name">
                            Event Name:
                            <button type="button" class="help-btn" tooltip-placement="right" tooltip-append-to-body="false" uib-tooltip="No special characters allowed in event name">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                            </button>
                        </label>
                        <div class="col-md-5">
                            <input class="form-control" name="event_name" ng-model="anEvent.event_name" type="text" required  input-restrictor />
                        </div>
                    </div>
                    <!-- Event Description -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="event_description">Description:</label>
                        <div class="col-md-5">
                            <textarea class="form-control" type="text" rows="3" ng-model="anEvent.event_description" />
                        </div>
                    </div>
                    <!-- Event Start Date -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="event_start_date">Event Start Date:</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input show-weeks="false" class="form-control dateInputStyle" name="sd" type="date"
                                       uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.sd" ng-model="anEvent.event_start_date" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="open($event, 'sd')">
                                        <i class="glyphicon glyphicon-calendar" />
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Event End Date -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="event_end_date">Event End Date:</label>
                        <div class="col-md-5">
                            <div>
                                <div class="input-group">
                                    <input show-weeks="false" class="form-control dateInputStyle" name="ed" type="date"
                                           uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.ed" ng-model="anEvent.event_end_date" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="open($event, 'ed')">
                                            <i class="glyphicon glyphicon-calendar" />
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Event Type -->
                    <div class="form-group" ng-class="{'has-error':eventForm.event_type_id.$invalid && eventForm.event_type_id.$dirty}">
                        <label class="col-md-4 control-label req" for="event_type_id">
                            Event Type:
                            <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                            </button>
                        </label>
                        <div class="col-md-5">
                            <select class="form-control" name="event_type_id" ng-model="anEvent.event_type_id"
                                    ng-options="et.event_type_id as et.type for et in eventTypes | orderBy: 'type'" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!-- Event Status -->
                    <div class="form-group" ng-class="{'has-error':eventForm.event_status_id.$invalid && eventForm.event_status_id.$dirty}">
                        <label class="col-md-4 control-label req" for="event_status_id">
                            Event Status:
                            <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                            </button>
                        </label>
                        <div class="col-md-5">
                            <select class="form-control" name="event_status_id" ng-model="anEvent.event_status_id"
                                    ng-options="es.event_status_id as es.status for es in eventStatuses | orderBy: 'status'" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!-- Event Coordinator -->
                    <div class="form-group" ng-class="{'has-error':eventForm.event_coordinator.$invalid && eventForm.event_coordinator.$dirty}">
                        <label class="col-md-4 control-label req" for="event_coordinator">
                            Event Coordinator:
                            <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                            </button>
                        </label>
                        <div class="col-md-5">
                            <select class="form-control" name="even_coordinator" ng-model="anEvent.event_coordinator"
                                    ng-options="ec.member_id as ec.fname + ' ' + ec.lname for ec in adminMembers | orderBy: 'lname'" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!--create button-->
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" ng-click="create(eventForm.$valid)">Create</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div><!-- end create -->
        <div ng-if="createOReditEV == 'edit'">
            <uib-accordion close-others="false">
                <!--Event Part-->
                <uib-accordion-group is-open="dl.dlOpen" panel-class="{{getPanelClass()}}">
                    <uib-accordion-heading>
                        <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': dl.dlOpen, 'glyphicon-chevron-right': !dl.dlOpen}"></i>
                        <span ng-class="{'redText':view.EVval == 'edit'}">{{evModalHeader}}</span>
                    </uib-accordion-heading>
                    <form class="form-horizontal" name="EVEditForm">
                        <fieldset>
                            <!--edit button-->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span ng-if="loggedInRole == 'Admin'"><button ng-show="view.EVval == 'detail'" type="button" class="btn btn-primary" ng-click="wannaEditEV()">Edit Event</button></span>
                                    <button ng-show="view.EVval == 'edit'" class="btn btn-primary" ng-click="save(EVEditForm.$valid)">Save</button>
                                    <button ng-show="view.EVval == 'edit'" type="button" class="btn btn-primary" ng-click="cancelEVEdit()">Cancel</button>
                                </div>
                            </div>
                            <!-- Event Name (Detail) -->
                            <div ng-if="view.EVval == 'detail'" class="col-md-12">
                                <label class="col-md-4">Event Name:</label>
                                <div class="col-md-5">{{anEvent.event_name}}</div>
                            </div>
                            <!-- Event Name (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group" ng-class="{'has-error':eventForm.event_name.$invalid && eventForm.event_name.$dirty}">
                                <label class="col-md-4 control-label req" for="event_name">
                                    Event Name:
                                    <button type="button" class="help-btn" tooltip-placement="right" tooltip-append-to-body="false" uib-tooltip="No special characters allowed in event name">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                    </button>
                                    <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                        <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                                    </button>
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" name="event_name" ng-model="evCopy.event_name" type="text" required  input-restrictor />
                                </div>
                            </div>

                            <!-- Event Description (Detail) -->
                            <div ng-if="view.EVval == 'detail'" class="col-md-12">
                                <label class="col-md-4">Description:</label>
                                <div class="col-md-5">{{anEvent.event_description || '---'}}</div>
                            </div>
                            <!-- Event Description (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group">
                                <label class="col-md-4 control-label" for="event_description">Description:</label>
                                <div class="col-md-5">
                                    <textarea class="form-control" type="text" rows="3" ng-model="evCopy.event_description" />
                                </div>
                            </div>

                            <!-- Event Start Date (Detail) -->
                            <div ng-if="view.EVval == 'detail'" class="col-md-12">
                                <label class="col-md-4">Event Start Date:</label>
                                <div class="col-md-5">{{anEvent.event_start_date | date: 'MM/dd/yyyy' || '---' }}</div>
                            </div>
                            <!-- Event Start Date (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group">
                                <label class="col-md-4 control-label" for="event_start_date">Event Start Date:</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input show-weeks="false" class="form-control dateInputStyle" name="sd" type="date"
                                               uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.sd" ng-model="evCopy.event_start_date" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="open($event, 'sd')">
                                                <i class="glyphicon glyphicon-calendar" />
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Event End Date (Detail) -->
                            <div ng-if="view.EVval == 'detail'" class="col-md-12">
                                <label class="col-md-4">Event End Date:</label>
                                <div class="col-md-5">{{anEvent.event_end_date | date: 'MM/dd/yyyy' || '---'}}</div>
                            </div>
                            <!-- Event End Date (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group">
                                <label class="col-md-4 control-label" for="event_end_date">Event End Date:</label>
                                <div class="col-md-5">
                                    <div>
                                        <div class="input-group">
                                            <input show-weeks="false" class="form-control dateInputStyle" name="ed" type="date"
                                                   uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.ed" ng-model="evCopy.event_end_date" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" ng-click="open($event, 'ed')">
                                                    <i class="glyphicon glyphicon-calendar" />
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Event Type: (detail) -->
                            <div class="col-md-12" ng-if="view.EVval == 'detail'">
                                <div class="col-md-4"><label>Event Type:</label></div>
                                <div class="col-md-5">{{(eventTypes | filter: {event_type_id : anEvent.event_type_id})[0].type }}</div>
                            </div>
                            <!-- Event Type (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group" ng-class="{'has-error':eventForm.event_type_id.$invalid && eventForm.event_type_id.$dirty}">
                                <label class="col-md-4 control-label req" for="event_type_id">
                                    Event Type:
                                    <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                        <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                                    </button>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="event_type_id" ng-model="evCopy.event_type_id"
                                            ng-options="et.event_type_id as et.type for et in eventTypes | orderBy: 'type'" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Event Status: (detail) -->
                            <div class="col-md-12" ng-if="view.EVval == 'detail'">
                                <div class="col-md-4"><label>Event Status:</label></div>
                                <div class="col-md-5">{{(eventStatuses | filter: {event_status_id : anEvent.event_status_id})[0].status }}</div>
                            </div>
                            <!-- Event Status (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group" ng-class="{'has-error':eventForm.event_status_id.$invalid && eventForm.event_status_id.$dirty}">
                                <label class="col-md-4 control-label req" for="event_status_id">
                                    Event Status:
                                    <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                        <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                                    </button>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="event_status_id" ng-model="evCopy.event_status_id"
                                            ng-options="es.event_status_id as es.status for es in eventStatuses | orderBy: 'status'" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Event Coordinator: (detail) -->
                            <div class="col-md-12" ng-if="view.EVval == 'detail'">
                                <div class="col-md-4"><label>Event Coordinator:</label></div>
                                <div class="col-md-5">{{(adminMembers | filter: {member_id : anEvent.event_coordinator})[0].lname }}</div>
                            </div>
                            <!-- Event Coordinator (Edit) -->
                            <div ng-if="view.EVval == 'edit'" class="form-group" ng-class="{'has-error':eventForm.event_coordinator.$invalid && eventForm.event_coordinator.$dirty}">
                                <label class="col-md-4 control-label req" for="event_coordinator">
                                    Event Coordinator:
                                    <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                        <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                                    </button>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="even_coordinator" ng-model="evCopy.event_coordinator"
                                            ng-options="ec.member_id as ec.fname + ' ' + ec.lname for ec in adminMembers | orderBy: 'lname'" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-accordion-group>
                <br clear="all"/>
                <!-- EVENT FILE DOWNLOAD SECTION -->
                <uib-accordion-group is-open="dl.dlFileOpen" ng-if="loggedInRole == 'Admin' || loggedInRole=='Manager'">
                    <uib-accordion-heading>
                        <i style="margin-right:10px" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': dl.dlFileOpen, 'glyphicon-chevron-right': !dl.dlFileOpen}"></i>
                        <span ng-class="{'redText':showFileForm}">{{anEvent.event_name}} File Download Section</span>
                    </uib-accordion-heading>
                    <div class="col-md-12">
                        <div>
                        Select which files to download below. For selections with many and/or large files, you may need to request multiple downloads of fewer file types.</div>
                        <br/>
                        <form name="fileZipForm">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label req" for="event_type_id">
                                        Files for:
                                        <button type="button" class="help-btn" tooltip-placement="top" tooltip-append-to-body="false" uib-tooltip="Required">
                                            <span class="glyphicon glyphicon-asterisk" style="color:#d00;font-size:xx-small;"></span>
                                        </button>
                                    </label>
                                    <div class="col-md-5">
                                        <select class="form-control" ng-change="updatefileTypeChecks(filesWanted)" name="filesWanted" ng-model="filesWanted" ng-options="v as v for v in objectChoices" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="filesWanted" class="form-group">
                                    <label class="col-md-4 control-label">{{filesWanted}} File Types:</label>
                                    <div class="col-md-6">
                                        <ul class="col-md-12">
                                            <li style="list-style:none" ng-repeat="f in fileTypeCheckList">
                                                <input class="site-chx" type="checkbox" ng-model="f.selected" ng-change="checkedFile(f)" />
                                                <label class="site-chx-label">{{f.filetype}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <button ng-disabled="!filesWantedChosen" class="btn btn-primary" ng-click="DownloadZip()">Download Zip
                                    </button>
                                    <!--<a ng-disabled="!filesWantedChosen" class="btn btn-primary" title="Download Zip File" ng-href="{{serverURL}}/Events/{{anEvent.event_id}}/EventFileItems?HWMFiles={{hPlease}}&HWMFileType={{hwmFileTypesString}}&SensorFiles={{sPlease}}&SensorFileTypes={{sensorFileTypesString}}" target="_blank">Download Zip</a>-->
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div> <!-- end edit -->
    </div><!-- end modal-body-->

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" ng-show="anEvent.event_id !== undefined && loggedInRole == 'Admin'" class="btn btn-danger" ng-click="deleteEV(EVEditForm.$valid)">Delete Event</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel/Close</button>
            </div>
        </div>       
    </div><!-- end modal-footer -->
       
</script>