<!-- If this is the user logged -->
<form class="form-horizontal" id="eventForm" name="eventForm">
    <fieldset>
        <legend>EVENT INFORMATION</legend>
        <div ng-if="loggedInRole == 'Admin' && anEvent.event_id != undefined">
            <button class="btn btn-danger" ng-click="DeleteEvent(anEvent)">Delete Event</button>
        </div>
        <!-- Event Name -->
        <div class="form-group required" ng-class="{'has-error':eventForm.event_name.$invalid && eventForm.event_name.$dirty}">
            <label class="col-md-3 control-label req" for="event_name">Event Name:</label>
            <div class="col-md-3">
                <input ng-if="loggedInRole == 'Admin'" class="form-control" id="event_name" name="event_name" ng-model="anEvent.event_name"
                       type="text" placeholder="Event Name" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(eventForm.$valid)"
                       required />
                <span ng-if="loggedInRole != 'Admin'">{{anEvent.event_name}}</span>
            </div>
        </div>

        <!-- Event Description -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="event_description">Description:</label>
            <div class="col-md-6">
                <textarea ng-if="loggedInRole == 'Admin'" class="form-control" id="event_description"
                          type="text" rows="3" placeholder="Event Description" ng-model="anEvent.event_description"
                          ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(eventForm.$valid)" />
                <span ng-if="loggedInRole != 'Admin'">{{anEvent.event_description}}</span>
            </div>
        </div>

        <!-- Event Start Date -->

        <div class="form-group">
            <label class="col-md-3 control-label" for="event_start_date">Event Start Date:</label>
            <div class="col-md-3">
                <div class="input-group">
                    <input ng-show="loggedInRole == 'Admin'" show-weeks="false" class="form-control dateInputStyle" id="event_start_date" name="sd" type="date" 
                           uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.sd" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)" ng-model="anEvent.event_start_date" />
                    <span ng-show="loggedInRole == 'Admin'" class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event, 'sd')">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
                <span ng-show="loggedInRole != 'Admin'">{{anEvent.event_start_date | date: "MM/dd/yyyy"}}</span>
            </div>
        </div>


        <!-- Event End Date -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="event_end_date">Event End Date:</label>
            <div class="col-md-3">
                <div>
                    <div class="input-group">
                        <input ng-show="loggedInRole == 'Admin'" show-weeks="false" class="form-control dateInputStyle" id="event_end_date" name="ed" type="date" 
                               uib-datepicker-popup="MM/dd/yyyy" is-open="datepickrs.ed" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(0)" ng-model="anEvent.event_end_date" />
                        <span ng-show="loggedInRole == 'Admin'" class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event, 'ed')">
                                <i class="glyphicon glyphicon-calendar" />
                            </button>
                        </span>
                    </div>
                </div>
                <span ng-show="loggedInRole != 'Admin'">{{anEvent.event_end_date | date: "MM/dd/yyyy"}}</span>
            </div>
        </div>

        <!-- Event Type -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="event_type_id">Event Type:</label>
            <div class="col-md-3">
                <select ng-if="loggedInRole == 'Admin'" class=" form-control" id="event_type_id" name="event_type_id" ng-model="anEvent.event_type_id"
                        ng-options="et.event_type_id as et.type for et in eventTypeList | orderBy: 'type'" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(eventForm.$valid)"
                        required>
                    <option value="">Select Event Type</option>
                </select>
                <span ng-if="loggedInRole != 'Admin'">{{thisEventType}}</span>
            </div>
        </div>

        <!-- Event Status -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="event_status_id">Event Status:</label>
            <div class="col-md-3">
                <select ng-if="loggedInRole == 'Admin'" class=" form-control" id="event_status_id" name="event_status_id" ng-model="anEvent.event_status_id"
                        ng-options="es.event_status_id as es.status for es in eventStatList | orderBy: 'status'" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(eventForm.$valid)"
                        required>
                    <option value="">Select Event Status</option>
                </select>
                <span ng-if="loggedInRole != 'Admin'">{{thisEventStatus}}</span>
            </div>
        </div>

        <!-- Event Coordinator -->
        <div class="form-group required">
            <label class="col-md-3 control-label req" for="event_coordinator">Event Coordinator:</label>
            <div class="col-md-3">
                <select ng-if="loggedInRole == 'Admin'" class=" form-control" id="event_coordinator" name="even_coordinator" ng-model="anEvent.event_coordinator"
                        ng-options="ec.member_id as ec.fname + ' ' + ec.lname for ec in eventCoordList | orderBy: 'lname'" ng-model-options="{ updateOn: 'blur' }" ng-change="SaveOnBlur(eventForm.$valid)"
                        required>
                    <option value="">Select Event Coordinator</option>
                </select>
                <span ng-if="loggedInRole != 'Admin'">{{thisEventCoord}}</span>
            </div>
        </div>

        <!--submit and cancel buttons-->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button ng-if="anEvent.event_id == undefined" class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="save(eventForm.$valid)">
                        <span>Create</span>
                    </button>
                </span>
                <!--<span>
                    <button class="btn btn-default" ng-click="cancel()">
                        Back to Member List
                    </button>
                </span>-->
            </div>
        </div>

    </fieldset>
</form>

<div style="margin-bottom:10px">
    <button class="btn btn-primary" back-button>
        <span>Cancel/Back</span>
    </button>
</div>