<div class="">
    <!--<div><a ui-sref="fileUpload">Upload file</a></div>-->
    <div style="border:red 1px solid;padding:5px;margin-bottom:10px">
        <span style="font-family:'BryantBold';font-size:large;">Important usage notes and instructions</span>
        <div style="margin:5px">
            <p>
                Many of the supplemental GIS data layers found in the map tab are from a range of sources and are not maintained by WiM. We offer
                these map layers as a  decision-support supplement to the main STN sites layer, but we cannot guarantee their performance and availability.
                Many of these externally maintained layers are large datasets and may load slowly depending on network
                conditions, and in some cases may fail to load when bandwidth is low.
            </p>
        </div>
    </div>
    <!--<button type="button" class="btn btn-primary" ng-click="test()">test</button>-->

</div>
