@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 850px) {
  body {
    background-color: #f9f9f9;
  }
}
.center-all {
  display: block;
  text-align: center;
}
.testing-alert {
  position: absolute;
  box-sizing: border-box;
  padding: 2px;
  text-align: center;
  font-size: 8.5pt;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(245, 208, 42, 0.99);
  top: 0;
  margin: 0 auto;
  font-weight: 900;
  color: #E70000;
  z-index: 50000000;
}
.importantMessage h1 {
  margin: 0 auto;
  padding: 35px 0 15px 0;
  font-size: 10pt;
  font-weight: bolder;
  text-align: center;
  font-weight: 900;
  color: #7984DD;
  font-family: 'Open Sans', sans-serif;
}
.importantMessage p {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 8pt;
  font-weight: 400;
  color: #696F81;
  line-height: 1.5em;
  margin: 0 auto;
}
* {
  outline: none !important;
}
a {
  color: #0A354D;
  font-weight: bolder;
  transition: all 0.15s;
  text-decoration: none;
  outline: none;
}
a:hover {
  transition: all 0.15s;
  color: #010609;
  text-decoration: none;
}
a:focus,
a:active {
  text-decoration: none;
  color: #2068C5;
  outline: none;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  color: #696F81;
  line-height: 1.2em;
  letter-spacing: 1px;
}
label .help-btn {
  border: none;
  background-color: transparent;
}
.required textarea,
.required input {
  border: 1px solid #e7e7e7;
}
.multiSelect button {
  height: auto !important;
}
input,
select,
.multiSelect button {
  display: block;
  background-color: transparent;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 10px;
  font-size: 11pt;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.15s;
}
input:hover,
select:hover,
.multiSelect button:hover {
  border: 1px solid #c1c1c1;
  transition: all 0.15s;
}
input:active,
select:active,
.multiSelect button:active,
input:focus,
select:focus,
.multiSelect button:focus {
  border: 1px solid #8e8e8e;
  border-left: 5px solid #0A354D;
  transition: all 0.15s;
}
input .buttonLabel,
select .buttonLabel,
.multiSelect button .buttonLabel {
  display: inline-block;
  font-size: 8pt;
}
.multiSelect button {
  display: block;
  width: 100%;
  height: 42px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#FFF));
  background-image: -webkit-linear-gradient(left, #FFF, #FFF);
  background-image: -moz-linear-gradient(left, #FFF, #FFF);
  background-image: -ms-linear-gradient(left, #FFF, #FFF);
  background-image: -o-linear-gradient(left, #FFF, #FFF);
}
.multiSelect button:hover {
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#FFF));
  background-image: -webkit-linear-gradient(left, #FFF, #FFF);
  background-image: -moz-linear-gradient(left, #FFF, #FFF);
  background-image: -ms-linear-gradient(left, #FFF, #FFF);
  background-image: -o-linear-gradient(left, #FFF, #FFF);
  transition: all 0.15s;
}
.multiSelect button:active,
.multiSelect button:focus {
  border: 1px solid #e7e7e7;
  transition: all 0.15s;
}
.multiSelect button .buttonLabel {
  padding: 0;
}
select {
  height: 42px;
  width: 100%;
}
.btn-wim {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 11pt;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.15s;
  background-color: #072434;
  border: 1px solid #072536;
  color: #F4F4F4;
  border-radius: 4px;
  font-weight: 800;
  text-transform: uppercase;
}
.btn-wim.btn-inline {
  width: auto;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 10px;
}
.btn-wim:hover {
  cursor: pointer;
  background-color: #0A354D;
  color: #FFF;
  transition: all 0.15s;
}
.btn-wim:active,
.btn-wim:focus {
  transition: all 0.15s;
  background-color: #0b3d58;
}
.btn-wim.btn-md {
  font-size: 10pt;
  padding: 7px 8px;
}
.btn-wim.btn-sm {
  font-size: 8pt;
  padding: 4px 8px;
}
.btn-wim.btn-longtext {
  font-size: 8pt;
  border-radius: 0;
  padding: 19px 10px;
}
.btn-wim.btn-white {
  background-color: #F4F4F4;
  color: #0A354D;
  border: 1px solid #e7e7e7;
}
.btn-wim.btn-white:hover {
  color: #2068C5;
}
.btn-wim.btn-white:active,
.btn-wim.btn-white:focus {
  color: #1a55a2;
}
.btn-wim.btn-red {
  background-color: #E70000;
  color: #F4F4F4;
  border: 1px solid #ce0000;
}
.btn-wim.btn-red:hover {
  color: rgba(244, 244, 244, 0.9);
}
.btn-wim.btn-red:active,
.btn-wim.btn-red:focus {
  color: rgba(244, 244, 244, 0.8);
}
.btn-wim.btn-orange {
  background-color: #EF5836;
  color: #F4F4F4;
  border: 1px solid #e03812;
}
.btn-wim.btn-orange:hover {
  color: rgba(244, 244, 244, 0.9);
}
.btn-wim.btn-orange:active,
.btn-wim.btn-orange:focus {
  color: rgba(244, 244, 244, 0.8);
}
.btn-wim.btn-blue {
  background-color: #2068C5;
  color: #F4F4F4;
  border: 1px solid #1c5caf;
}
.btn-wim.btn-blue:hover {
  color: rgba(244, 244, 244, 0.9);
}
.btn-wim.btn-blue:active,
.btn-wim.btn-blue:focus {
  color: rgba(244, 244, 244, 0.8);
}
.btn-wim.btn-green {
  background-color: #00C396;
  color: #F4F4F4;
  border: 1px solid #00aa82;
}
.btn-wim.btn-green:hover {
  color: rgba(244, 244, 244, 0.9);
}
.btn-wim.btn-green:active,
.btn-wim.btn-green:focus {
  color: rgba(244, 244, 244, 0.8);
}
.btn-wim.btn-purple {
  background-color: #7984DD;
  color: #F4F4F4;
  border: 1px solid #6571d8;
}
.btn-wim.btn-purple:hover {
  color: rgba(244, 244, 244, 0.9);
}
.btn-wim.btn-purple:active,
.btn-wim.btn-purple:focus {
  color: rgba(244, 244, 244, 0.8);
}
.checkboxLayer.show {
  position: absolute;
  z-index: 5000000000000000000000;
  border-radius: 0;
}
.checkboxLayer.show .checkBoxContainer {
  height: 140px !important;
}
.checkboxLayer.show .clearButton {
  padding: 0;
  border: none;
}
.checkboxLayer.show .multiSelectItem,
.checkboxLayer.show .multiSelectGroup {
  border: none !important;
  padding: 8px;
}
.checkboxLayer.show .multiSelectItem.selected,
.checkboxLayer.show .multiSelectGroup.selected {
  background-image: none !important;
  background: none !important;
  background-color: #CCDEE3 !important;
}
.checkboxLayer.show .multiSelectItem:hover,
.checkboxLayer.show .multiSelectGroup:hover {
  background-image: none !important;
  background: none !important;
  background-color: #0A354D !important;
  border: none !important;
  color: #F4F4F4 !important;
}
.checkboxLayer.show .multiSelectItem .tickMark,
.checkboxLayer.show .multiSelectGroup .tickMark {
  margin-top: 4px;
}
.modal-dialog {
  width: 80%;
  max-width: 750px;
  margin: 50px auto;
}
.modal-dialog .modal-content {
  border-radius: 2px;
}
.modal-dialog .modal-content .modal-title {
  text-align: center;
  font-size: 12pt !important;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  color: #696F81;
}
.modal-dialog .modal-content p {
  display: block;
  text-align: center;
  font-size: 9pt;
  box-sizing: border-box;
  padding: 0 10px;
}
.modal-dialog .modal-content .modal-body .fg-sm {
  display: block;
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
}
.wim-form.border-bottom {
  border-bottom: 1px solid #CCDEE3;
  box-sizing: border-box;
  padding: 25px 0 25px 0;
}
.wim-form .form-item {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 10px 25px 10px;
  color: #0A354D;
}
.wim-form .form-item.item-25 {
  width: 25%;
}
@media only screen and (max-width: 1000px) {
  .wim-form .form-item.item-25 {
    width: 50%;
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .wim-form .form-item.item-25 {
    width: 100%;
  }
}
.wim-form .form-item.item-20 {
  width: 20%;
}
@media only screen and (max-width: 1000px) {
  .wim-form .form-item.item-20 {
    width: 50%;
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .wim-form .form-item.item-20 {
    width: 100%;
  }
}
.wim-form .form-item .form-item-value {
  display: block;
  width: 100%;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  line-height: 42px;
  line-height: 1.2em;
}
.wim-form .form-item .checkbox-inline {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0 0 30px;
}
.wim-form .form-item .checkbox-inline label {
  display: inline-block;
  vertical-align: middle;
}
.wim-form .form-item .checkbox-inline input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.app-nav {
  display: block;
  width: 100%;
  background-color: #0A354D;
  border-radius: 0;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 0;
}
.app-nav h1.nav-header {
  background-color: #2068C5;
  color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 35px;
  vertical-align: middle;
}
.testEnvir {
    background-color: #b91919;
}
@media only screen and (max-width: 1190px) {
  .app-nav h1.nav-header {
    display: block;
  }
}
.app-nav .mobile-menu-btn {
  display: none;
}
@media only screen and (max-width: 850px) {
  .app-nav .mobile-menu-btn {
    display: inline-block;
    float: right;
    color: #FFF;
    font-size: 24pt;
    position: relative;
    top: -47px;
    right: 5%;
  }
  .app-nav .mobile-menu-btn.ion-close-round {
    font-size: 18pt;
    top: -41px;
  }
  .app-nav .mobile-menu-btn:hover {
    cursor: pointer;
    color: #e6e6e6;
    transition: all 0.15s;
  }
}
.app-nav .nav-change-session {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  box-sizing: border-box;
  height: 47px;
  background-color: #FFF;
  padding: 0 15px;
  border-radius: 0;
}
@media only screen and (max-width: 850px) {
  .app-nav .nav-change-session {
    display: none;
  }
}
.app-nav .nav-session-label {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 47px;
  vertical-align: top;
  box-sizing: border-box;
  color: #F4F4F4;
  padding: 10px 0px 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 8pt;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 850px) {
  .app-nav .nav-session-label {
    display: none;
  }
}
.app-nav .nav-userctrl {
  display: inline-block;
  float: right;
  height: 47px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 6px 35px 6px 20px;
  text-align: right;
}
@media only screen and (max-width: 1190px) {
  .app-nav .nav-userctrl {
    position: relative;
    top: -47px;
    display: block;
    clear: both;
    right: 0;
  }
}
@media only screen and (max-width: 900px) {
  .app-nav .nav-userctrl {
    display: none;
  }
}
.app-nav .nav-userctrl span {
  color: rgba(244, 244, 244, 0.5);
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  font-weight: 900;
  text-align: right;
  letter-spacing: 1px;
}
.app-nav .nav-userctrl span a {
  color: rgba(244, 244, 244, 0.75);
  transition: all 0.15s;
}
.app-nav .nav-userctrl span a:hover {
  color: #F4F4F4;
  transition: all 0.15s;
}
.app-nav .nav-userctrl button {
  display: block;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  float: left;
  letter-spacing: 1px;
  border: none;
  font-size: 9pt;
  width: 50%;
  color: #F4F4F4;
  transition: all 0.15s;
}
.app-nav .nav-userctrl button:hover {
  transition: all 0.15s;
  color: #2068C5;
}
.app-nav div.subnav {
  display: block;
  width: 100%;
  background-color: #072434;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav {
    display: none;
  }
}
.app-nav div.subnav .subnav-links {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links {
    display: block;
  }
}
.app-nav div.subnav .subnav-links li {
  display: inline-block;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links li {
    display: block;
  }
}
.app-nav div.subnav .subnav-links li.mobile-only {
  display: none;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links li.mobile-only {
    display: block;
  }
  .app-nav div.subnav .subnav-links li.mobile-only.special a {
    text-align: center;
  }
  .app-nav div.subnav .subnav-links li.mobile-only.special a:hover {
    cursor: pointer;
  }
  .app-nav div.subnav .subnav-links li.mobile-only.special2 a {
    background-color: #EF5836;
  }
}
.app-nav div.subnav .subnav-links li a {
  box-sizing: border-box;
  padding: 12px 20px;
  display: block;
  color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10pt;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.app-nav div.subnav .subnav-links li a.active {
  background-color: #0A354D;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links li a.active {
    border-left: 8px solid #2068C5;
    border-bottom: 4px solid transparent;
  }
}
.app-nav div.subnav .subnav-links li a.active:hover,
.app-nav div.subnav .subnav-links li a.active:active,
.app-nav div.subnav .subnav-links li a.active:focus {
  border-bottom: 4px solid transparent;
}
.app-nav div.subnav .subnav-links li a:hover {
  border-bottom: 4px solid #2068C5;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links li a:hover {
    border-left: 8px solid #2068C5;
    border-bottom: 4px solid transparent;
  }
}
.app-nav div.subnav .subnav-links li a:active,
.app-nav div.subnav .subnav-links li a:focus {
  border-bottom: 4px solid #2068C5;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-links li a:active,
  .app-nav div.subnav .subnav-links li a:focus {
    border-left: 8px solid #2068C5;
    border-bottom: 4px solid transparent;
  }
}
.app-nav div.subnav .subnav-right {
  display: inline-block;
  vertical-align: top;
  float: right;
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-right {
    display: block;
    float: none;
    background-color: #7984DD;
    text-align: center;
  }
}
.app-nav div.subnav .subnav-right .btn-subnav {
  background-color: transparent;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  display: inline-block;
  color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10pt;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.15s;
}
.app-nav div.subnav .subnav-right .btn-subnav:hover {
  border-bottom: 4px solid #F4F4F4;
  transition: all 0.15s;
}
.app-nav div.subnav .subnav-right .btn-subnav:active,
.app-nav div.subnav .subnav-right .btn-subnav:focus {
  transition: all 0.15s;
}
.app-nav div.subnav .subnav-right .dropdown-menu {
  margin: 0 auto;
  padding: 0;
  width: 180px;
  left: -80 !important;
  margin-left: 51px;
  border-radius: 0;
  background-color: #FFF;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media only screen and (max-width: 850px) {
  .app-nav div.subnav .subnav-right .dropdown-menu {
    display: block;
    width: 250px;
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
    margin-left: 50%;
    left: -125px;
  }
}
.app-nav div.subnav .subnav-right .dropdown-menu li {
  display: block;
}
.app-nav div.subnav .subnav-right .dropdown-menu li a {
  display: block;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(10, 53, 77, 0.8);
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  box-sizing: border-box;
  padding: 12px 15px;
  border-bottom: 1px solid #CCDEE3;
  border-left: 4px solid transparent;
  border-radius: 4px solid transparent;
  transition: all 0.15s;
}
.app-nav div.subnav .subnav-right .dropdown-menu li a:hover {
  color: #0A354D;
  border-left: 4px solid #2068C5;
  background-color: transparent;
  background: none;
  transition: all 0.15s;
}
.app-nav div.searchnav {
  display: block;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #CCDEE3;
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav {
    display: block;
    background-color: #00C396;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 150px;
    z-index: 500000;
    width: 90%;
    border-bottom: none;
    margin-left: 5%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.app-nav div.searchnav .searchby {
  display: inline-block;
  width: 25%;
  width: calc(0px + 265px) !important;
  box-sizing: border-box;
  padding: 0 25px;
  vertical-align: middle;
  border-right: 1px solid #CCDEE3;
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav .searchby {
    display: block;
    width: 100% !important;
    border-right: 0;
    text-align: center;
  }
}
.app-nav div.searchnav .searchby b {
  display: block;
  color: #0A354D;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav .searchby b {
    color: #F4F4F4;
  }
}
.app-nav div.searchnav .searchby .searchbyoption {
  margin: 0 auto;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  color: #0A354D;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 0 15px 0 0;
}
.app-nav div.searchnav .searchby .searchbyoption input {
  display: inline-block;
  margin-right: 5px;
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav .searchby .searchbyoption {
    color: #F4F4F4;
  }
}
.app-nav div.searchnav .search-input {
  vertical-align: middle;
  display: inline-block;
  width: 75%;
  width: calc(100% - 265px);
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav .search-input {
    width: 100%;
    margin-top: 15px;
  }
}
.app-nav div.searchnav .search-input input {
  width: 80%;
  width: calc(100% - 232px);
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 12pt;
  padding: 15px 15px 14px 35px;
  font-weight: 900;
  vertical-align: top;
  letter-spacing: 1px;
  color: #0A354D;
}
@media only screen and (max-width: 850px) {
  .app-nav div.searchnav .search-input input {
    color: #F4F4F4;
    background-color: rgba(244, 244, 244, 0.25);
  }
}
.app-nav div.searchnav .search-input button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  width: calc(0px + 232px);
  background-color: #2068C5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #FFF;
  border-left: 2px solid #1c5caf;
  height: 51px;
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: 1px;
  transition: all 0.15s;
}
.app-nav div.searchnav .search-input button:hover {
  background-color: #1c5caf;
  transition: all 0.15s;
}
.stn-home {
  display: block;
  width: 80%;
  margin: 65px 10% 25px 10%;
  padding: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 35px;
  background-color: #F4F4F4;
  border: 1px solid #e7e7e7;
}
@media only screen and (max-width: 850px) {
  .stn-home {
    background-color: #FFF;
  }
}
.stn-home p {
  display: block;
  margin: 0 auto;
  width: 100%;
  line-height: 1.6em;
  margin: 0 0 15px 0;
  text-align: left;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  font-size: 10pt;
  letter-spacing: 1.25px;
  font-weight: 400;
  color: #30333b;
}
@media only screen and (max-width: 550px) {
  .stn-home p {
    font-size: 8.5pt;
  }
}
.stn-home ul {
  display: block;
  line-height: 1.6em;
  font-size: 10pt;
  letter-spacing: 1.25px;
  font-weight: 500;
  color: #30333b;
}
.stn-home .login-form {
  box-sizing: border-box;
  padding: 25px 0 35px 0;
}
.stn-home .login-form .login-form-item,
.stn-home .login-form .login-form-submit {
  box-sizing: border-box;
  display: inline-block;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-item,
  .stn-home .login-form .login-form-submit {
    padding: 10px 0;
  }
}
.stn-home .login-form .login-form-item.pad-l,
.stn-home .login-form .login-form-submit.pad-l {
  padding-left: 20px;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-item.pad-l,
  .stn-home .login-form .login-form-submit.pad-l {
    padding-left: 0;
    padding-right: 0;
  }
}
.stn-home .login-form .login-form-item.pad-r,
.stn-home .login-form .login-form-submit.pad-r {
  padding-right: 20px;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-item.pad-r,
  .stn-home .login-form .login-form-submit.pad-r {
    padding-left: 0;
    padding-right: 0;
  }
}
.stn-home .login-form .login-form-item.pad-b,
.stn-home .login-form .login-form-submit.pad-b {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-item.pad-b,
  .stn-home .login-form .login-form-submit.pad-b {
    padding-left: 0;
    padding-right: 0;
  }
}
.stn-home .login-form .login-form-item label,
.stn-home .login-form .login-form-submit label {
  display: block;
}
.stn-home .login-form .login-form-item input,
.stn-home .login-form .login-form-submit input {
  display: block;
  width: 100%;
  background-color: #FFF;
}
.stn-home .login-form .login-form-item button,
.stn-home .login-form .login-form-submit button {
  display: block;
  width: 100%;
}
.stn-home .login-form .login-form-item {
  width: 40%;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-item {
    width: 100%;
  }
}
.stn-home .login-form .login-form-submit {
  width: 20%;
}
@media only screen and (max-width: 850px) {
  .stn-home .login-form .login-form-submit {
    width: 100%;
  }
}
.map-page-wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.map-page-wrapper div.map-leftside {
  display: inline-block;
  background-color: #FFF;
  width: 35%;
  width: calc(0px + 375px) !important;
  height: 100%;
  height: calc(100% - 99px);
  margin: 0 auto;
  vertical-align: top;
  box-sizing: border-box;
}
@media only screen and (max-width: 850px) {
  .map-page-wrapper div.map-leftside {
    width: 92%;
    margin: 35px auto;
    display: block;
    position: relative;
    border: none;
  }
}
.map-page-wrapper div.map-leftside .cancel-create {
  display: block;
  margin: 6px 0 25px 0;
  text-align: center;
  font-size: 8pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: rgba(10, 53, 77, 0.7);
  transition: all 0.15s;
}
.map-page-wrapper div.map-leftside .cancel-create b {
  text-decoration: underline;
}
.map-page-wrapper div.map-leftside .cancel-create:hover,
.map-page-wrapper div.map-leftside .cancel-create:focus,
.map-page-wrapper div.map-leftside .cancel-create:active {
  transition: all 0.15s;
  cursor: pointer;
  color: #0A354D;
}
.map-page-wrapper div.map-leftside .cancel-create.nohover:hover,
.map-page-wrapper div.map-leftside .cancel-create.nohover:focus,
.map-page-wrapper div.map-leftside .cancel-create.nohover:active {
  cursor: default;
}
.map-page-wrapper div.map-rightside {
  display: inline-block;
  width: 65%;
  width: calc(100% - 375px);
  margin: 0 auto;
  box-sizing: border-box;
  vertical-align: top;
}
@media only screen and (max-width: 850px) {
  .map-page-wrapper div.map-rightside {
    width: 92%;
    margin: 35px auto;
    display: block;
    position: relative;
    border: none;
  }
}
.map-page-wrapper div.map-rightside .createSiteModeActive {
  position: fixed;
  bottom: 0;
  z-index: 500550;
  left: 0;
  background-color: #E70000;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 12px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  color: #FFF;
}
.map-page-wrapper div.map-rightside .createSiteModeActive b {
  text-decoration: underline;
  color: #FFF;
  transition: all 0.15s;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  margin: 0 0 0 15px;
  border-left: 1px solid #FFF;
}
.map-page-wrapper div.map-rightside .createSiteModeActive b:hover {
  cursor: pointer;
  color: #F4F4F4;
  transition: all 0.15s;
}
@media only screen and (max-width: 850px) {
  .map-page-wrapper .angular-leaflet-map {
    margin-bottom: 35px;
    height: 500px !important;
  }
}
.map-page-wrapper .panel-group {
  margin: 0 auto !important;
}
.map-page-wrapper .panel.panel-default {
  border-radius: 0;
  margin: 0 auto !important;
  border: none !important;
  border-bottom: 1px solid #CCDEE3 !important;
}
.map-page-wrapper .panel.panel-default .panel-heading {
  background: none !important;
  background-color: #FFF !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(#FFF)) !important;
  background-image: -webkit-linear-gradient(left, #FFF, #FFF) !important;
  background-image: -moz-linear-gradient(left, #FFF, #FFF) !important;
  background-image: -ms-linear-gradient(left, #FFF, #FFF) !important;
  background-image: -o-linear-gradient(left, #FFF, #FFF) !important;
  color: #0A354D !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 !important;
  border-radius: 0 !important;
}
.map-page-wrapper .panel.panel-default .panel-heading .panel-title a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 18px;
  transition: all 0.15s;
  font-size: 10pt;
  letter-spacing: 1px;
}
.map-page-wrapper .panel.panel-default .panel-heading .panel-title a:focus,
.map-page-wrapper .panel.panel-default .panel-heading .panel-title a:active {
  transition: all 0.15s;
  color: #0A354D;
}
.map-page-wrapper .panel.panel-default .panel-heading .panel-title a:hover {
  transition: all 0.15s;
  color: rgba(10, 53, 77, 0.8);
  padding: 20px 18px 20px 22px;
}
.map-page-wrapper .panel.panel-default .panel-heading .panel-title a .acc-heading-icon {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  text-align: right;
}
.map-page-wrapper .panel.panel-default .panel-collapse .panel-body {
  border: none;
  background-color: rgba(204, 222, 227, 0.18);
  color: #0A354D;
  font-family: 'Montserrat', sans-serif;
  border-top: 1px solid #CCDEE3;
  font-size: 10pt;
}
@media only screen and (max-width: 850px) {
  .map-page-wrapper .panel.panel-default .panel-collapse .panel-body {
    background-color: rgba(204, 222, 227, 0.1);
  }
}
.map-filters-form .form-group {
  box-sizing: border-box;
  padding: 15px;
}
.map-filters-form .form-group .flex-group {
  display: flex;
  height: 62px;
  flex-direction: column;
  justify-content: center;
}
.map-filters-form .form-group .checkbox-label {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: auto;
}
.map-filters-form .form-group .chx {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -2px;
}
.map-filters-form .filters-site-title {
  display: block;
  font-size: 14pt;
  font-weight: 600;
}
.page-padding {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 55px;
}
.page-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.results-box {
  display: inline-block;
  box-sizing: border-box;
  margin: 35px 0 55px 0;
  padding: 10px 25px;
}
.results-box.rb-50 {
  width: 50%;
  vertical-align: top;
}
.results-box.rb-100 {
  width: 50%;
  vertical-align: top;
}
.results-box .results-box-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.results-box .results-box-no-result {
  display: block;
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 10pt;
  color: rgba(10, 53, 77, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.settings-thumb {
  display: inline-block;
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  padding: 25px 15px;
  color: #0A354D;
  transition: all 0.15s;
}
.settings-thumb i {
  font-size: 62pt;
}
.settings-thumb h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 14pt;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}
.settings-thumb:hover {
  transition: all 0.15s;
  color: #3981df;
}
.settings-thumb:active,
.settings-thumb:focus {
  color: #2068C5;
  transition: all 0.15s;
}
#resources-list {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
#resources-list #sidebar-wrapper {
  display: inline-block;
  width: 20%;
  width: calc(0px + 250px);
  vertical-align: top;
  left: 0;
  margin: 0 auto;
  background-color: transparent;
  background: none;
  background-image: none;
  position: relative !important;
}
#resources-list #sidebar-wrapper h1 {
  display: bblock;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14pt;
  font-weight: 600;
  box-sizing: border-box;
  padding: 25px 0 11px 0;
  border-bottom: 2px solid rgba(105, 111, 129, 0.2);
}
#resources-list #sidebar-wrapper ul.sidebar-list-links {
  list-style-type: none;
  margin: 0;
  padding: 13px 0 0 0;
}
#resources-list #sidebar-wrapper ul.sidebar-list-links li a {
  display: block;
  font-size: 9pt;
  box-sizing: border-box;
  padding: 5px 0 5px 25px;
  color: #0A354D;
  font-weight: 500 !important;
  font-family: 'Open Sans', sans-serif;
}
#resources-list #page-content-wrapper {
  width: 80%;
  width: calc(100% - 250px);
  display: inline-block;
  vertical-align: top;
}
.sensor-chx {
  display: inline-block;
  vertical-align: middle;
}
.sensor-chx-label {
  display: inline-block;
  width: auto !important;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 7px;
  padding-left: 3px;
}
.settings-list {
  display: block;
  box-sizing: border-box;
  padding: 55px 35px;
}
.settings-list h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #30333b;
}
.site-modal-title {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  padding: 0px 0;
  color: #30333b !important;
  text-transform: uppercase;
}
.siteForm .site-form-wrap {
  display: block;
  box-sizing: border-box;
  padding: 25px 55px;
}
.siteForm .panel {
  background-color: rgba(204, 222, 227, 0.2);
  border: none !important;
  box-shadow: none !important;
}
.siteForm .panel .panel-heading {
  background: none;
  background-color: #0A354D;
}
.siteForm .panel .panel-heading h3.panel-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  padding: 10px 0;
  color: #F4F4F4;
  text-transform: uppercase;
}
.siteForm .panel .panel-body {
  box-sizing: border-box;
  padding: 0 40px 40px 40px;
}
.site-chx {
  display: inline-block;
  vertical-align: middle;
}
.site-chx-label {
  display: inline-block;
  width: auto !important;
  vertical-align: middle;
  box-sizing: border-box;
  padding-top: 7px;
  padding-left: 3px;
  font-weight: 400;
}
.site-creator {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900 !important;
  font-size: 14pt;
}
.quick-create-header {
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  width: 70%;
}
.quick-create-icon {
  color: #FFF;
  vertical-align: middle;
  display: inline-block;
  padding-top: 10px;
}
.fivepad {
  box-sizing: border-box;
  padding: 25px;
}
.control-label {
  line-height: 1.4em !important;
}
.panel {
  margin: 20px 0 !important;
  background-color: rgba(204, 222, 227, 0.2);
  border: none !important;
}
.panel-heading {
  background: none !important;
  background-color: #0A354D !important;
  color: #F4F4F4 !important;
  padding: 0;
}
.panel-heading .panel-title {
  font-family: 'Montserrat', sans-serif;
}
.panel-heading .panel-title a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 15px;
}
.panel-heading .panel-title a:hover {
  color: #F4F4F4;
}
.panel-heading .panel-title a:focus {
  color: #F4F4F4;
}
.site-panel {
  display: block;
  width: 90%;
  margin-left: 5% !important;
}
.site-panel .panel-heading .panel-title {
  box-sizing: border-box;
  padding: 15px;
}
.whitebginput input {
  background-color: #FFF;
}

.angular-leaflet-control-layers-collapsed {
  z-index: 999;
}

.angular-leaflet-control-layers-expanded {
  z-index: 999;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}