<h3>Map currently displaying sites for <b>{{sessionEvent}}</b></h3>

<ul>
    <li><strong ng-bind="eventDetected"></strong> event caught in listener.</li>
</ul>

<div class="panel panel-primary">
    <!--<h3>{{map}}</h3>-->

    <div cg-busy="{promise:sitesPromise,message:'Loading Sites...'}">
        <leaflet lf-center="centerUS" markers="markers" layers="layers" event-broadcast="events" width="100%" height="1000px"></leaflet>
    </div>

    <h3>{{error}}</h3>

    Sites JSON: {{sites}}

</div>