<div class="jumbotron mapJumbotron">

    <div class="container mapContainer">

        <!--<h3 class="col-md-12"ng-if="createSiteModeActive"><span class="label label-warning">CREATE SITE MODE ACTIVE</span></h3>-->
        <div class="col-md-4">
            <!--<div ui-view="mapFilters"></div>-->
            <div class="mapCreateSiteButtonsDiv">
                <button ng-class="createSiteModeActive ? 'btn btn-danger' : 'btn btn-primary'" ng-click="createSiteModeActive = !createSiteModeActive">{{createSiteButtonText}}</button>
                <button ng-class="'btn btn-warning'" ng-if="createSiteModeActive" ng-click="createSiteFromMap()">Create new site at dot location</button>
            </div><br>
            <div ui-view="mapSiteInfo"></div>
            <div ui-view="mapPeaksView"></div>
            <div ui-view="mapSensorPropose"></div>

        </div>

        <div class="col-md-8">
           
            <!--<h3>Map currently displaying sites for <b>{{sessionEvent}}</b></h3>-->

                <div class="createSiteModeActive createSiteModeActiveTop col-md-12" ng-if="createSiteModeActive"><span >CREATE SITE MODE</span></div>

                <div cg-busy="{promise:sitesPromise,message:'Loading Sites...'}">
                    <leaflet ng-style="mapStyle" markers-watch-options="markersWatchOptions" controls="controls" bounds="bounds" paths="paths" legend="legend" lf-center="mapCenter" markers="markers" layers="layers" event-broadcast="events" width="100%" height="800px"></leaflet>
                </div>

                <div class="createSiteModeActive createSiteModeActiveBottom col-md-12" ng-if="createSiteModeActive"><span >CREATE SITE MODE</span></div><br>

                <!--<div class="mapCreateSiteButtonsDiv">-->
                    <!--<button ng-class="createSiteModeActive ? 'btn btn-danger' : 'btn btn-primary'" ng-click="createSiteModeActive = !createSiteModeActive">{{createSiteButtonText}}</button>-->
                    <!--<button ng-class="'btn btn-warning'" ng-if="createSiteModeActive" ng-click="createSiteFromMap()">Create new site at clicked location</button>-->
                <!--</div><br>-->

               <div ui-view="mapFilters"></div>


                <!--<br>Sites JSON: {{sites}}-->
        </div>


    </div>
</div>

<!-- notice text below map -->
<div style="border:red 1px solid;padding:5px;margin-bottom:10px">
    <span style="font-family:'BryantBold';font-size:large;">Important usage notes and instructions</span>
    <div style="margin:5px">
        <p>
            {{message}}

        </p>
    </div>
</div>

<div ui-view="test"></div>








